/**********************************************
include Base styling 
*********************************************/
/*	base SASS file */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: normal;
}


/* bg defailt */
.page-section {
  background-color: $light-bg;
  font-family: 'Open Sans', sans-serif;
}

.no-padding {
  padding: 0 !important;
}

.bg-white {
  background-color: white;
}

/* Main container */

.inner-container {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .inner-container {
    width: 724px;
  }
}

@media (min-width: 992px) {
  .inner-container {
    width: 842px;
  }
}

.page-title {
  text-transform: uppercase;
}


/* Dashboard */
.result-item {
    padding: 0 5px;
    margin-bottom: 15px;
    color: white;

    .total {
        background-color: #832235;
    }

    .resolved {
        background-color: #c32f4f;
    }

    .unresolved {
        background-color: #cd6a0c;
    }

    .pending {
        background-color: #df8c16;
    }

    .loss {
        background-color: #f5b520;
    }

    .officials {
        background-color: #982425;
    }

    .inner-result {
        padding: 10px;
        min-height: 100px;
        position: relative;
    }

    .title {
        line-height: 1.5;
    }

    .count {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 1.8rem;
    }

    &:first-child {
        padding-left: 0;
        padding-right: 10px;
    }

    &:last-child {
        padding-left: 10px;
        padding-right: 0;
    }
}

h3.latest-title {
    margin-top: 5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}