.glb-nav {
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
  }
  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input {
    &[type="search"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &[type="radio"], &[type="checkbox"] {
      margin: 4px 0 0;
      margin-top: 1px \9;
      line-height: normal;
    }
    &[type="file"] {
      display: block;
    }
    &[type="range"] {
      display: block;
      width: 100%;
    }
  }
  select {
    &[multiple], &[size] {
      height: auto;
    }
  }
  input {
    &[type="file"]:focus, &[type="radio"]:focus, &[type="checkbox"]:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }
  output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    &::-moz-placeholder {
      color: #999;
      opacity: 1;
    }
    &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #999;
    }
    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }
    &[disabled], &[readonly] {
      background-color: #eeeeee;
      opacity: 1;
    }
  }
}

fieldset[disabled] .glb-nav .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.glb-nav .form-control[disabled], fieldset[disabled] .glb-nav .form-control {
  cursor: not-allowed;
}

.glb-nav {
  textarea.form-control {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
  }
  .radio + .radio, .checkbox + .checkbox {
    margin-top: -5px;
  }
  .radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
  }
  .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
  }
  input[type="radio"] {
    &[disabled], &.disabled {
      cursor: not-allowed;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .glb-nav input {
    &[type="date"].form-control, &[type="time"].form-control, &[type="datetime-local"].form-control, &[type="month"].form-control {
      line-height: 34px;
    }
    &[type="date"].input-sm {
      line-height: 30px;
    }
  }
  .input-group-sm .glb-nav input[type="date"], .glb-nav input[type="time"].input-sm, .input-group-sm .glb-nav input[type="time"], .glb-nav input[type="datetime-local"].input-sm, .input-group-sm .glb-nav input[type="datetime-local"], .glb-nav input[type="month"].input-sm, .input-group-sm .glb-nav input[type="month"] {
    line-height: 30px;
  }
  .glb-nav input[type="date"].input-lg, .input-group-lg .glb-nav input[type="date"], .glb-nav input[type="time"].input-lg, .input-group-lg .glb-nav input[type="time"], .glb-nav input[type="datetime-local"].input-lg, .input-group-lg .glb-nav input[type="datetime-local"], .glb-nav input[type="month"].input-lg, .input-group-lg .glb-nav input[type="month"] {
    line-height: 46px;
  }
}

fieldset[disabled] .glb-nav input[type="radio"] {
  cursor: not-allowed;
}

.glb-nav input[type="checkbox"] {
  &[disabled], &.disabled {
    cursor: not-allowed;
  }
}

fieldset[disabled] .glb-nav input[type="checkbox"], .glb-nav .radio-inline.disabled, fieldset[disabled] .glb-nav .radio-inline, .glb-nav .checkbox-inline.disabled, fieldset[disabled] .glb-nav .checkbox-inline, .glb-nav .radio.disabled label, fieldset[disabled] .glb-nav .radio label, .glb-nav .checkbox.disabled label, fieldset[disabled] .glb-nav .checkbox label {
  cursor: not-allowed;
}

.glb-nav {
  .form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 34px;
    &.input-lg, &.input-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  select.input-sm {
    height: 30px;
    line-height: 30px;
  }
  textarea.input-sm, select[multiple].input-sm {
    height: auto;
  }
  .form-group-sm {
    .form-control {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
    select.form-control {
      height: 30px;
      line-height: 30px;
    }
    textarea.form-control, select[multiple].form-control {
      height: auto;
    }
    .form-control-static {
      height: 30px;
      min-height: 32px;
      padding: 6px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
  }
  select.input-lg {
    height: 46px;
    line-height: 46px;
  }
  textarea.input-lg, select[multiple].input-lg {
    height: auto;
  }
  .form-group-lg {
    .form-control {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33333;
      border-radius: 6px;
    }
    select.form-control {
      height: 46px;
      line-height: 46px;
    }
    textarea.form-control, select[multiple].form-control {
      height: auto;
    }
    .form-control-static {
      height: 46px;
      min-height: 38px;
      padding: 11px 16px;
      font-size: 18px;
      line-height: 1.33333;
    }
  }
  .has-feedback {
    position: relative;
    .form-control {
      padding-right: 42.5px;
    }
  }
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
  }
  .input-lg + .form-control-feedback, .input-group-lg + .form-control-feedback, .form-group-lg .form-control + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px;
  }
  .input-sm + .form-control-feedback, .input-group-sm + .form-control-feedback, .form-group-sm .form-control + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .has-success {
    .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
      color: #3c763d;
    }
    .form-control {
      border-color: #3c763d;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      &:focus {
        border-color: #2b542c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
      }
    }
    .input-group-addon {
      color: #3c763d;
      border-color: #3c763d;
      background-color: #dff0d8;
    }
    .form-control-feedback {
      color: #3c763d;
    }
  }
  .has-warning {
    .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
      color: #8a6d3b;
    }
    .form-control {
      border-color: #8a6d3b;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      &:focus {
        border-color: #66512c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
      }
    }
    .input-group-addon {
      color: #8a6d3b;
      border-color: #8a6d3b;
      background-color: #fcf8e3;
    }
    .form-control-feedback {
      color: #8a6d3b;
    }
  }
  .has-error {
    .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline, &.radio label, &.checkbox label, &.radio-inline label, &.checkbox-inline label {
      color: #a94442;
    }
    .form-control {
      border-color: #a94442;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      &:focus {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      }
    }
    .input-group-addon {
      color: #a94442;
      border-color: #a94442;
      background-color: #f2dede;
    }
    .form-control-feedback {
      color: #a94442;
    }
  }
  .has-feedback label {
    ~ .form-control-feedback {
      top: 25px;
    }
    &.sr-only ~ .form-control-feedback {
      top: 0;
    }
  }
  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
  }
  .form-horizontal {
    .radio, .checkbox, .radio-inline, .checkbox-inline {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 7px;
    }
    .radio, .checkbox {
      min-height: 27px;
    }
    .form-group {
      margin-left: -15px;
      margin-right: -15px;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
    }
    .has-feedback .form-control-feedback {
      right: 15px;
    }
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .dropup, .dropdown {
    position: relative;
  }
  .dropdown-toggle:focus {
    outline: 0;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    &.pull-right {
      right: 0;
      left: auto;
    }
    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
    > {
      li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333333;
        white-space: nowrap;
        &:hover, &:focus {
          text-decoration: none;
          color: #262626;
          background-color: #f5f5f5;
        }
      }
      .active > a {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background-color: #337ab7;
        &:hover, &:focus {
          color: #fff;
          text-decoration: none;
          outline: 0;
          background-color: #337ab7;
        }
      }
      .disabled > a {
        color: #777777;
        &:hover, &:focus {
          color: #777777;
        }
        &:hover, &:focus {
          text-decoration: none;
          background-color: transparent;
          background-image: none;
          filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
          cursor: not-allowed;
        }
      }
    }
  }
  .open > {
    .dropdown-menu {
      display: block;
    }
    a {
      outline: 0;
    }
  }
  .dropdown-menu-right {
    left: auto;
    right: 0;
  }
  .dropdown-menu-left {
    left: 0;
    right: auto;
  }
  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #777777;
    white-space: nowrap;
  }
  .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
  }
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }
  .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
  .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > li {
      position: relative;
      display: block;
      > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        &:hover, &:focus {
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
      &.disabled > a {
        color: #777777;
        &:hover, &:focus {
          color: #777777;
          text-decoration: none;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }
    .open > a {
      background-color: #eeeeee;
      border-color: #337ab7;
      &:hover, &:focus {
        background-color: #eeeeee;
        border-color: #337ab7;
      }
    }
    .nav-divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
    > li > a > img {
      max-width: none;
    }
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
    > li {
      float: left;
      margin-bottom: -1px;
      > a {
        margin-right: 2px;
        line-height: 1.42857;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        &:hover {
          border-color: #eeeeee #eeeeee #ddd;
        }
      }
      &.active > a {
        color: #555555;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
        &:hover, &:focus {
          color: #555555;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
          cursor: default;
        }
      }
    }
  }
  .nav-pills > li {
    float: left;
    > a {
      border-radius: 4px;
    }
    + li {
      margin-left: 2px;
    }
    &.active > a {
      color: #fff;
      background-color: #337ab7;
      &:hover, &:focus {
        color: #fff;
        background-color: #337ab7;
      }
    }
  }
  .nav-stacked > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0;
    }
  }
  .nav-justified, .nav-tabs.nav-justified {
    width: 100%;
  }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    float: none;
  }
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
  }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
  .nav-tabs-justified, .nav-tabs.nav-justified {
    border-bottom: 0;
  }
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
  }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
  }
  .tab-content > {
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  .navbar-header {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  .navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &.in {
      overflow-y: auto;
    }
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
  }
  .container > {
    .navbar-header, .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .container-fluid > {
    .navbar-header, .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
  }
  .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    &:hover, &:focus {
      text-decoration: none;
    }
    > img {
      display: block;
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    &:focus {
      outline: 0;
    }
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  .navbar-nav {
    margin: 7.5px -15px;
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
  .navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    &.btn-sm {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &.btn-xs {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    .navbar-brand {
      color: #777;
      &:hover, &:focus {
        color: #5e5e5e;
        background-color: transparent;
      }
    }
    .navbar-text {
      color: #777;
    }
    .navbar-nav > {
      li > a {
        color: #777;
        &:hover, &:focus {
          color: #333;
          background-color: transparent;
        }
      }
      .active > a {
        color: #555;
        background-color: #e7e7e7;
        &:hover, &:focus {
          color: #555;
          background-color: #e7e7e7;
        }
      }
      .disabled > a {
        color: #ccc;
        background-color: transparent;
        &:hover, &:focus {
          color: #ccc;
          background-color: transparent;
        }
      }
    }
    .navbar-toggle {
      border-color: #ddd;
      &:hover, &:focus {
        background-color: #ddd;
      }
      .icon-bar {
        background-color: #888;
      }
    }
    .navbar-collapse, .navbar-form {
      border-color: #e7e7e7;
    }
    .navbar-nav > .open > a {
      background-color: #e7e7e7;
      color: #555;
      &:hover, &:focus {
        background-color: #e7e7e7;
        color: #555;
      }
    }
    .navbar-link {
      color: #777;
      &:hover {
        color: #333;
      }
    }
    .btn-link {
      color: #777;
      &:hover, &:focus {
        color: #333;
      }
      &[disabled] {
        &:hover, &:focus {
          color: #ccc;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .form-control-static {
      display: inline-block;
    }
    .input-group {
      display: inline-table;
      vertical-align: middle;
      .input-group-addon, .input-group-btn, .form-control {
        width: auto;
      }
      > .form-control {
        width: 100%;
      }
    }
    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio, .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio label, .checkbox label {
      padding-left: 0;
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

@media (min-width: 768px) {
  .glb-nav .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .glb-nav .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-right {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
    .dropdown-menu-left {
      left: 0;
      right: auto;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav {
    .nav-justified > li, .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav {
    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
      border-bottom-color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-header {
    float: left;
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    &.in {
      overflow-y: visible;
    }
  }
  .navbar-fixed-top .glb-nav .navbar-collapse, .navbar-static-top .glb-nav .navbar-collapse, .navbar-fixed-bottom .glb-nav .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .glb-nav {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav {
    .container > {
      .navbar-header, .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }
    }
    .container-fluid > {
      .navbar-header, .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-static-top {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .glb-nav {
    .navbar-fixed-top, .navbar-fixed-bottom {
      border-radius: 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar > {
    .container .glb-nav .navbar-brand, .container-fluid .glb-nav .navbar-brand {
      margin-left: -15px;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .glb-nav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    > li > a, .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    > li > a {
      line-height: 20px;
      &:hover, &:focus {
        background-image: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-nav {
    float: left;
    margin: 0;
    > li {
      float: left;
      > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-form {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .form-control-static {
      display: inline-block;
    }
    .input-group {
      display: inline-table;
      vertical-align: middle;
      .input-group-addon, .input-group-btn, .form-control {
        width: auto;
      }
      > .form-control {
        width: 100%;
      }
    }
    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio, .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .radio label, .checkbox label {
      padding-left: 0;
    }
    .radio input[type="radio"], .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

@media (max-width: 767px) {
  .glb-nav .navbar-form .form-group {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .glb-nav .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .glb-nav {
    .navbar-left {
      float: left !important;
    }
    .navbar-right {
      float: right !important;
      margin-right: -15px;
      ~ .navbar-right {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .glb-nav .navbar-default .navbar-nav .open .dropdown-menu > {
    li > a {
      color: #777;
      &:hover, &:focus {
        color: #333;
        background-color: transparent;
      }
    }
    .active > a {
      color: #555;
      background-color: #e7e7e7;
      &:hover, &:focus {
        color: #555;
        background-color: #e7e7e7;
      }
    }
    .disabled > a {
      color: #ccc;
      background-color: transparent;
      &:hover, &:focus {
        color: #ccc;
        background-color: transparent;
      }
    }
  }
}

fieldset[disabled] .glb-nav .navbar-default .btn-link {
  &:hover, &:focus {
    color: #ccc;
  }
}

.glb-nav .navbar-inverse {
  background-color: #222;
  border-color: #090909;
  .navbar-brand {
    color: #9d9d9d;
    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: #9d9d9d;
  }
  .navbar-nav > {
    li > a {
      color: #9d9d9d;
      &:hover, &:focus {
        color: #fff;
        background-color: transparent;
      }
    }
    .active > a {
      color: #fff;
      background-color: #090909;
      &:hover, &:focus {
        color: #fff;
        background-color: #090909;
      }
    }
    .disabled > a {
      color: #444;
      background-color: transparent;
      &:hover, &:focus {
        color: #444;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: #333;
    &:hover, &:focus {
      background-color: #333;
    }
    .icon-bar {
      background-color: #fff;
    }
  }
  .navbar-collapse, .navbar-form {
    border-color: #101010;
  }
  .navbar-nav > .open > a {
    background-color: #090909;
    color: #fff;
    &:hover, &:focus {
      background-color: #090909;
      color: #fff;
    }
  }
  .navbar-link {
    color: #9d9d9d;
    &:hover {
      color: #fff;
    }
  }
  .btn-link {
    color: #9d9d9d;
    &:hover, &:focus {
      color: #fff;
    }
    &[disabled] {
      &:hover, &:focus {
        color: #444;
      }
    }
  }
}

@media (max-width: 767px) {
  .glb-nav .navbar-inverse .navbar-nav .open .dropdown-menu {
    > .dropdown-header {
      border-color: #090909;
    }
    .divider {
      background-color: #090909;
    }
    > {
      li > a {
        color: #9d9d9d;
        &:hover, &:focus {
          color: #fff;
          background-color: transparent;
        }
      }
      .active > a {
        color: #fff;
        background-color: #090909;
        &:hover, &:focus {
          color: #fff;
          background-color: #090909;
        }
      }
      .disabled > a {
        color: #444;
        background-color: transparent;
        &:hover, &:focus {
          color: #444;
          background-color: transparent;
        }
      }
    }
  }
}

fieldset[disabled] .glb-nav .navbar-inverse .btn-link {
  &:hover, &:focus {
    color: #444;
  }
}

/*  Global nav component
********************/

.glb-nav {
  .glb-nav__container {
    padding: 0;
  }
  .navbar {
    background: #f2f2f2;
    border: none;
  }
  .navbar-nav {
    > li.navbar-text {
      color: #6d6e71;
      font-size: 1.142rem;
      font-style: italic;
      line-height: 1.3;
    }
    li > a {
      color: #6d6e71;
    }
  }
  .dropdown-menu li > a {
    color: #6d6e71;
  }
}

@media (max-width: 767px) {
  .glb-nav {
    .navbar-nav {
      margin: 15px 0;
    }
    .caret {
      background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
      border: none;
      height: 20px;
      margin: 0;
      position: absolute;
      right: 16px;
      top: 11px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      width: 16px;
    }
    .open .caret {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .navbar-nav {
      li.navbar-text {
        border: none;
        margin: 10px 0 4px;
      }
      > li {
        margin: -1px -15px 0;
        &:first-of-type {
          margin-top: 0;
        }
        &.open {
          border-bottom: 1px solid #ccc;
          > a {
            background: none;
            border: none;
            border-bottom: 1px solid #ccc;
            font-size: 1.286rem;
            line-height: 1.3;
            margin: 0;
            padding: 8px 15px 8px;
            text-decoration: none;
          }
          > a {
            &:hover, &:focus {
              background: #6d6e71;
              border-bottom-color: transparent;
              color: #ffffff;
            }
          }
          > a {
            &:hover .caret, &:focus .caret {
              background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
            }
          }
        }
        > a {
          background: none;
          border: none;
          border-bottom: 1px solid #ccc;
          font-size: 1.286rem;
          line-height: 1.3;
          margin: 0;
          padding: 8px 15px 8px;
          text-decoration: none;
        }
        > a {
          &:hover, &:focus {
            background: #6d6e71;
            border-bottom-color: transparent;
            color: #ffffff;
          }
        }
        > a {
          &:hover .caret, &:focus .caret {
            background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
          }
        }
        &.active > a {
          background: #e0301e;
          border-bottom-color: transparent;
          color: #ffffff;
          .caret {
            background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
          }
          &:hover, &:focus {
            background: #be291a;
            color: #ffffff;
          }
        }
        &.dropdown.active {
          > a {
            background: #ccc;
            border-bottom: 1px solid #cccccc;
            color: #404041;
            .caret {
              background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
            }
            &:hover, &:focus {
              background: #6d6e71;
              border-bottom-color: transparent;
              color: #ffffff;
            }
            &:hover .caret, &:focus .caret {
              background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
            }
          }
          &.open > a {
            background: #ccc;
            border-bottom-color: transparent;
            color: #404041;
            &:hover, &:focus {
              background: #6d6e71;
              color: #ffffff;
            }
            &:hover .caret, &:focus .caret {
              background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
            }
          }
        }
      }
    }
    .dropdown-menu {
      padding: 0;
    }
    .navbar-nav {
      .dropdown-menu > li {
        margin: 0;
        &.divider {
          display: none;
          /* dividers are not supported in dropdowns */
        }
        > a {
          background: none;
          display: block;
          font-size: 1.286rem;
          line-height: 1.3;
          margin: 0 -15px;
          padding: 8px 40px;
          text-decoration: none;
        }
      }
      .open .dropdown-menu > li > a {
        background: none;
        display: block;
        font-size: 1.286rem;
        line-height: 1.3;
        margin: 0 -15px;
        padding: 8px 40px;
        text-decoration: none;
      }
      .dropdown-menu > li > a {
        &:hover, &:focus {
          background: #6d6e71;
          border-bottom-color: transparent;
          color: #ffffff;
        }
      }
      .open .dropdown-menu > li > a {
        &:hover, &:focus {
          background: #6d6e71;
          border-bottom-color: transparent;
          color: #ffffff;
        }
      }
    }
    .glb-nav__primary-wrapper .navbar-nav .open .dropdown-menu > li.active > a, .glb-nav__promoted-wrapper .navbar-nav .open .dropdown-menu > li.active > a {
      background: #e0301e;
      border-bottom: none;
      color: #ffffff;
    }
    .glb-nav__primary-wrapper .navbar-nav .open .dropdown-menu > li.active > a {
      &:hover, &:focus {
        background: #be291a;
        color: #ffffff;
      }
    }
    .glb-nav__promoted-wrapper .navbar-nav .open .dropdown-menu > li.active > a {
      &:hover, &:focus {
        background: #be291a;
        color: #ffffff;
      }
    }
    .glb-nav__primary-wrapper, .glb-nav__promoted-wrapper {
      float: left;
      min-height: 1px;
      padding: 0 15px;
      width: 100%;
    }
    .glb-nav__links-wrapper {
      font-family: georgia, serif;
      line-height: 1.3;
      text-decoration: none;
    }
    .dropdown-toggle .text {
      display: inline-block;
      margin-right: 30px;
    }
    .glb-nav__primary-wrapper {
      .dropdown > li > a, .dropdown-menu li > a {
        display: block;
        font-size: 1.286rem;
        line-height: 1.3;
        text-decoration: none;
      }
    }
    .glb-nav__promoted-wrapper li.dropdown > a {
      display: block;
      font-size: 1.286rem;
      line-height: 1.3;
      text-decoration: none;
    }
    .glb-nav__primary-wrapper {
      .dropdown > li > a {
        &:hover, &:focus {
          background: #6d6e71;
          border-bottom-color: transparent;
          color: #ffffff;
        }
      }
      .dropdown-menu li > a {
        &:hover, &:focus {
          background: #6d6e71;
          border-bottom-color: transparent;
          color: #ffffff;
        }
      }
    }
    .glb-nav__promoted-wrapper {
      li.dropdown > a {
        &:hover, &:focus {
          background: #6d6e71;
          border-bottom-color: transparent;
          color: #ffffff;
        }
      }
      .navbar-nav > li {
        > a {
          color: #404041;
          font-weight: bold;
          &:hover, &:focus {
            background: #6d6e71;
            color: #ffffff;
          }
        }
        &.active > a {
          background: #e0301e;
          border-bottom: none;
          color: #ffffff;
          &:hover, &:focus {
            background: #be291a;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .glb-nav__tools {
    float: left;
    min-height: 1px;
    padding: 15px 15px 30px;
    width: 100%;
    .glb-nav__tools__tool {
      padding-bottom: 20px;
    }
    .field-label, .page-sharing__share-title {
      color: #404041;
      font-family: georgia, serif;
      font-size: 1.286rem;
      line-height: 1.3;
      margin-bottom: 5px;
      font-weight: normal;
      display: inline-block;
      position: relative;
      height: auto;
      width: auto;
      clip: initial;
    }
    .field-label {
      cursor: pointer;
    }
    .form-group {
      margin: 0;
    }
    .page-sharing .page-sharing__share-options .page-sharing__share-btns {
      display: block;
    }
    .select2-container.select2-container--pwc .select2-selection--single {
      background: #fff url("../images/header/icon-chevron-horizontal.svg") right 15px center no-repeat;
      border: 1px solid #cccccc;
      font-family: arial, sans-serif;
      font-size: 14px;
      height: 40px;
      padding: 10px 40px 10px 20px;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav__tools {
    display: none;
  }
}

.glb-nav--takeover {
  .navbar {
    background: #f2f2f2;
    border: none;
  }
  .glb-nav__current-heading__link {
    display: block;
    float: left;
    font-size: 1.716rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    padding-bottom: 4px;
    &:hover, &:focus {
      border-bottom: 1px solid #e0301e;
      padding-bottom: 3px;
    }
  }
  .glb-nav__links-wrapper {
    font-family: georgia, serif;
  }
  .glb-nav__primary-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .glb-nav__primary-links, .glb-nav__secondary-links {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
  }
  .glb-nav__promoted-wrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .glb-nav--takeover .glb-nav__primary-wrapper {
    float: left;
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .glb-nav--takeover .glb-nav__primary-links {
    float: left;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .glb-nav--takeover .glb-nav__secondary-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .glb-nav--takeover .glb-nav__secondary-links {
    float: left;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .glb-nav--takeover .glb-nav__promoted-wrapper {
    float: left;
    width: 33.33333%;
  }
}

@media (max-width: 767px) {
  .glb-nav--takeover {
    .glb-nav__current-heading__link, .glb-nav__promoted-wrapper .dropdown {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .glb-nav--takeover {
    background: #f2f2f2;
    padding: 40px 0;
    .dropdown-menu {
      padding: 10px 0;
      > li > a {
        display: inline-block;
        margin: 0 15px 10px;
        padding: 0;
        text-decoration: none;
        span.text {
          border-bottom: 1px solid transparent;
          padding-bottom: 3px;
        }
        &:hover span.text, &:focus span.text {
          border-bottom: 1px solid #e0301e;
        }
      }
    }
    .glb-nav__primary-wrapper .dropdown-menu {
      background: none;
    }
    .glb-nav__primary-links {
      border-right: 1px solid #cccccc;
      position: static;
      .dropdown-toggle .text {
        display: inline-block;
        margin-right: 30px;
      }
      .caret {
        background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
        border: none;
        height: 20px;
        margin: 0;
        position: absolute;
        right: 15px;
        top: 11px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        width: 16px;
      }
    }
    .glb-nav__secondary-links {
      border-left: 1px solid #cccccc;
      margin-left: -1px;
    }
    .glb-nav__primary-wrapper li, .glb-nav__secondary-wrapper li, .glb-nav__promoted-wrapper li {
      background: #f2f2f2;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
    }
    .glb-nav__primary-wrapper li.divider, .glb-nav__secondary-wrapper li.divider, .glb-nav__promoted-wrapper li.divider {
      background: #cccccc;
      height: 1px;
      margin: 8px 15px 8px 0;
      padding: 0;
    }
    .glb-nav__primary-wrapper {
      position: relative;
      li {
        padding: 0;
        position: static;
        > a {
          font-size: 1.286rem;
          line-height: 1.3;
          padding: 8px 15px;
          text-decoration: none;
        }
        &.open > a {
          background: #6d6e71;
          color: #ffffff;
          &:hover, &:focus {
            background: #6d6e71;
            color: #ffffff;
          }
          .caret, &:hover .caret, &:focus .caret {
            background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
          }
        }
        &.active {
          > a {
            background: #e0301e;
            color: #ffffff;
            &:hover, &:focus {
              background: #be291a;
              color: #ffffff;
            }
            &:hover .caret, &:focus .caret {
              background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
            }
          }
          &.dropdown > a {
            background: #cccccc;
            color: #404041;
            .caret {
              background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
            }
            &:hover, &:focus {
              background: #6d6e71;
              color: #ffffff;
            }
            &:hover .caret, &:focus .caret {
              background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
            }
          }
        }
        > a {
          &:hover, &:focus {
            background: #6d6e71;
            color: #ffffff;
          }
          &:hover .caret, &:focus .caret {
            background: url(../images/header/arrow-icon--back--white.svg) 50% 50% no-repeat;
          }
        }
      }
      .glb-nav__secondary-wrapper {
        .navbar-nav > li > a {
          padding-left: 30px;
        }
        li.active > a {
          &:hover, &:focus {
            background: #be291a;
            color: #ffffff;
          }
        }
      }
      .dropdown-menu {
        background: #f2f2f2;
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        left: auto;
        padding: 0;
        right: 0;
        top: 0;
        width: 50%;
        li {
          padding: 0 15px 0 0;
          > a {
            background: #f2f2f2;
            color: #6d6e71;
            display: block;
            font-size: 1.286rem;
            line-height: 1.3;
            margin: 0;
            padding: 8px 15px 8px 30px;
            white-space: normal;
            &:hover, &:focus {
              background: #f2f2f2;
              color: #6d6e71;
              display: block;
              font-size: 1.286rem;
              line-height: 1.3;
              margin: 0;
              padding: 8px 15px 8px 30px;
              white-space: normal;
            }
            &:hover, &:focus {
              background: #6d6e71;
              color: #ffffff;
            }
            &:hover > .text, &:focus > .text {
              border: none;
            }
          }
          &.active > a {
            background: #e0301e;
            color: #ffffff;
            &:hover, &:focus {
              background: #be291a;
            }
          }
          > a > .text {
            border: none;
            padding: 0;
          }
        }
      }
    }
    .glb-nav__promoted-wrapper {
      margin-top: -56px;
      .navbar-nav.navbar-right {
        float: left !important;
        width: 100%;
      }
      .dropdown-toggle .text {
        display: inline-block;
        margin-right: 30px;
      }
      .caret {
        background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
        border: none;
        float: right;
        margin: 0;
        height: 16px;
        position: absolute;
        right: 15px;
        top: 11px;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        width: 20px;
      }
      .dropdown-menu {
        background: #ffffff;
        border: none;
        border-radius: 0;
        box-shadow: none;
        bottom: auto;
        left: auto;
        margin-bottom: 20px;
        min-width: 0;
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        li {
          background: #ffffff;
        }
      }
      .dropdown {
        display: none;
      }
    }
    .glb-nav__promoted-links {
      > li {
        margin-bottom: 4px;
        &.navbar-text {
          color: #6d6e71;
          font-size: 1.142rem;
          font-style: italic;
          line-height: 1.3;
          margin-bottom: 10px;
          padding: 20px 15px 8px;
          &:first-child {
            padding-top: 10px;
          }
        }
        &.divider {
          margin-right: 0;
        }
        > a {
          background: none;
          color: #404041;
          font-size: 1.286rem;
          font-weight: bold;
          line-height: 1.3;
          &:hover, &:focus {
            background: none;
            color: #404041;
            font-size: 1.286rem;
            font-weight: bold;
            line-height: 1.3;
          }
        }
        &.open > a {
          background: #ffffff;
          color: #6d6e71;
          &:hover, &:focus {
            background: #ffffff;
            color: #6d6e71;
          }
          &.dropdown-toggle {
            background: #ffffff;
            color: #6d6e71;
            &:hover, &:focus {
              background: #ffffff;
              color: #6d6e71;
            }
          }
        }
      }
      &.navbar-nav > li {
        > a {
          display: block;
          padding: 5px 15px;
          text-decoration: none;
          span.text {
            border-bottom: 1px solid transparent;
            padding-bottom: 3px;
          }
          &:hover, &:focus {
            background: none;
          }
          &:hover span.text, &:focus span.text {
            border-bottom: 1px solid #e0301e;
          }
        }
        &.active > a {
          background: #e0301e;
          color: #ffffff;
          &:hover, &:focus {
            background: #be291a;
          }
          span.text {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
      .dropdown-menu > li > a {
        background: none;
        font-size: 1.142rem;
        &:hover, &:focus {
          background: none;
          font-size: 1.142rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .glb-nav--tabbed {
    background: #f2f2f2;
    height: 40px;
    .glb-nav__links-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      padding: 0 15px;
    }
    .glb-nav__primary-wrapper {
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-box-flex: 1;
      -moz-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      position: relative;
      &:after {
        content: '';
        bottom: 0;
        position: absolute;
        top: 0;
        width: 15px;
        z-index: 1000;
        height: 40px;
        -webkit-box-shadow: inset -15px 0px 15px 0px #f2f2f2;
        -webkit-box-shadow: inset -15px 0px 15px 0px #f2f2f2;
        box-shadow: inset -15px 0px 15px 0 #f2f2f2;
        right: 0%;
      }
      .glb-nav__primary-wrapper-pane {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow-x: auto;
        overflow-y: hidden;
      }
      .dropdown.open {
        padding-bottom: 70vh;
      }
    }
  }
  .glb-slim-header-wrapper--unpinned .glb-nav--tabbed .glb-nav__primary-wrapper .dropdown.open {
    padding-bottom: 0;
  }
  .glb-nav--tabbed .glb-nav__primary-wrapper .dropdown.open:after {
    background: rgba(0, 0, 0, 0.35);
    content: '';
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 126px;
    z-index: 1;
  }
  .glb-slim-header-wrapper--unpinned .glb-nav--tabbed .glb-nav__primary-wrapper .dropdown.open:after {
    display: none;
  }
  .glb-nav--tabbed {
    .glb-nav__primary-links {
      display: inherit;
      white-space: nowrap;
    }
    .glb-nav__promoted-wrapper {
      border-left: 1px solid #cccccc;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end;
      height: 40px;
      .navbar-right {
        margin-right: 15px;
      }
      .dropdown.open:after {
        background: rgba(0, 0, 0, 0.35);
        content: '';
        cursor: pointer;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 125px;
        z-index: 1;
      }
    }
  }
  .glb-slim-header-wrapper--unpinned .glb-nav--tabbed .glb-nav__promoted-wrapper .dropdown.open:after {
    display: none;
  }
  .glb-nav--tabbed {
    .glb-nav__current-heading, .glb-nav__secondary-wrapper {
      display: none;
      /*	hide these element in case they have been incorrectly included	*/
    }
    .navbar {
      background: none;
      border: none;
      border-radius: 0;
      margin: 0;
      min-height: 40px;
    }
    .navbar-nav {
      > li {
        margin: 0 40px 0 0;
        padding: 0;
        &:last-of-type {
          margin-right: 30px;
        }
      }
      &.navbar-right > li {
        margin: 0 0 0 40px;
        &:first-of-type {
          margin-left: 20px;
        }
      }
      > li {
        > a {
          color: #404041;
          font-family: georgia;
          font-size: 1rem;
          padding: 10px 0;
          text-decoration: none;
          .caret {
            background: url(../images/header/arrow-icon--back--black.svg) 50% 50% no-repeat;
            border: none;
            float: right;
            margin: 0;
            height: 16px;
            position: absolute;
            right: 0;
            top: 14px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            width: 14px;
          }
          &.dropdown-toggle .text {
            display: inline-block;
            margin-right: 20px;
          }
        }
        &.active {
          > a {
            background: none;
            padding-bottom: 6px;
          }
          > a {
            border-bottom: 4px solid #e0301e;
          }
        }
        > a {
          &:hover, &:focus {
            background: none;
            padding-bottom: 6px;
          }
        }
        > a {
          &:hover, &:focus {
            border-bottom: 4px solid #6d6e71;
          }
        }
        &.open > a {
          background: none;
          border-bottom: none;
          padding-bottom: 10px;
          &:hover, &:focus {
            background: none;
            border-bottom: none;
            padding-bottom: 10px;
          }
          .caret, &:hover .caret, &:focus .caret {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }
    .dropdown-menu {
      border: 1px solid #cccccc;
      border-top: none;
      border-radius: 0;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      position: absolute;
      top: 39px;
    }
  }
  .glb-slim-header-wrapper--unpinned .glb-nav--tabbed .dropdown-menu {
    display: none !important;
  }
  .glb-nav--tabbed .dropdown-menu > li {
    margin: 0;
    padding: 0;
    > a {
      display: block;
      margin: 0 0;
      padding: 8px 15px;
      text-decoration: none;
      &:hover, &:focus {
        background: #6d6e71;
        color: #ffffff;
      }
    }
    &.active > a {
      background: #e0301e;
      color: #ffffff;
      padding: 8px 15px;
      &:hover, &:focus {
        background: #be291a;
      }
    }
  }
}

/*  end Global nav component
********************/