// second form block
.primary-form-block, 
.second-form-block {
  padding: 15px 0;

  .page-title {
    margin-bottom: 25px;
  }  

  .table > tfoot > tr > td {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.second-form-block {
  padding: 30px 0;
}

.btn {
    &.btn-secondary {
        background-color: $btn-submit;
        color: #fff;
        padding: 10px 12px;
        font-weight: 400;

        &:focus,
        &.focus {
            color: white;
            background-color: darken($btn-submit, 10%);
        }

        &:hover {
            color: white;
            background-color: darken($btn-submit, 10%);
        }
    }

    &.btn-round {
        border-radius: 3px;
        padding: 14px 23px;
    }

    &[type="submit"] {
        padding: 20px 35px;
        min-width: 150px;
    }

    &.btn-add {
        background-color: $btn-second;
        color: #fff;
        padding: 10px 12px;
        font-weight: 400;
        line-height: 1.42857;

        &:focus,
        &.focus {
            color: white;
            background-color: darken($btn-second, 10%);
        }

        &:hover {
            color: white;
            background-color: darken($btn-second, 10%);
        }
    }

    &.btn-delete {
        background-color: #821a1b;
        padding: 6px 12px;
        border-radius: 3px;
    }
}

/* Questionnaire block */
.questionnaire {
    border: 1px solid $btn-second;
    padding: 30px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .control-label {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 32px;
    }

    textarea.form-control {
        background-color: #f2f0f1 !important;
        min-height: 75px;
    }

    input[type="file"] {
        display: inline;
        font-size: 18px;
        margin-left: 5px;
    }

    .form-group {
        &.file-input {
            .control-label {
                padding-left: 15px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .question-title {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .buttons {
        .btn {
            border-radius: 3px;
            padding: 14px 23px;
            min-width: 90px;
        }

        .btn + .btn {
            margin-left: 15px;
        }
    }
}

.no-margin-b {
  margin-bottom: 0;
}

.control-label .info {
    border: 2px solid #e1301e;
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    width: 22px;
    color: #e1301e;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-left: 6px;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

/* Custom tooltip style */
.tooltip {
    text-align: left;

    &.right {
        padding-left: 16px;

        .tooltip-arrow {
            margin-top: -8px;
            border-width: 8px 16px 8px 0;
            border-right-color: #e1301e;
        }
    }

    .tooltip-inner {
        background-color: #e1301e;
        text-align: left;
        padding: 8px 12px 16px;
        font-style: italic;
    }
}