﻿@model pwc.Models.Summary
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    int index = 1;
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <div class="container bg-white">

        <div class="inner-container">

            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-4 result-item">
                            <div class="inner-result total">
                                <div class="title">Total IRR</div>
                                <span class="count">@Model.TotalIRR</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result resolved">
                                <div class="title">Resolved IRR</div>
                                <span class="count">@Model.ResolvedIRR</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result unresolved">
                                <div class="title">Unresolved IRR</div>
                                <span class="count">@Model.UnresolvedIRR</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 result-item">
                            <div class="inner-result pending">
                                <div class="title">Pending Hearing</div>
                                <span class="count">@Model.PendingHearing</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result loss">
                                <div class="title">IRR with Loss</div>
                                <span class="count">@Model.LossIRR</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result officials">
                                <div class="title">Officials Liable in Law</div>
                                <span class="count">@Model.OfficialsInLaw</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-4 result-item">
                            <div class="inner-result total">
                                <div class="title">Total IRR</div>
                                <span class="count">@Model.TotalIRR</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result resolved">
                                <div class="title">Unsolicited Bids</div>
                                <span class="count">@Model.UnsolicitedBids</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result unresolved">
                                <div class="title">R10K</div>
                                <span class="count">@Model.R10K</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 result-item">
                            <div class="inner-result pending">
                                <div class="title">R30K</div>
                                <span class="count">@Model.R30K</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result loss">
                                <div class="title">R499K</div>
                                <span class="count">@Model.R500K</span>
                            </div>
                        </div>
                        <div class="col-sm-4 result-item">
                            <div class="inner-result officials">
                                <div class="title">Above R500K</div>
                                <span class="count">@Model.R500K</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">

                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-6">
                    <h3 class="latest-title">Latest 5 IRR:-</h3>
                    <table class="table table-bordered table-latest">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>
                                <th class="text-center">NAME</th>
                                <th class="text-center">STATUS</th>
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach(var data in Model.LastIRRs)
                            {
                                <tr>
                                    <td>@data.CaseNumber</td>
                                    <td>@data.ContactRefferenceNumber</td>
                                    <td>RESOLVED</td>
                                    <td>VIEW</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h3 class="latest-title">Top 5 Employees:-</h3>
                    <table class="table table-bordered table-latest">
                        <thead>
                            <tr>
                                <th class="text-center">NO</th>
                                <th class="text-center">NAME</th>
                                <th class="text-center">NO. OF IRR</th>
                                <th class="text-center">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td>1</td>
                                <td>EMP 1</td>
                                <td>24</td>
                                <td>VIEW</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>EMP 2</td>
                                <td>15</td>
                                <td>VIEW</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

