﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title">@ViewBag.Header</h3>

            @using (Html.BeginForm("PaymentsNext", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms", enctype = "multipart/form-data" }))
            {
                <h3 class="page-title">Payment details</h3>

                <table class="table table-bordered table-extra">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center">ORDER NUMBER</th>
                            <th class="text-center">COMPLETED BY</th>
                            <th class="text-center">DATE</th>
                            <th class="text-center">PAYEE/BENEFICIARY</th>
                            <th class="text-center">PAYMENT NO</th>
                            <th class="text-center" style="line-height: 1;">VOUCHER AMOUND<br> VAT INCL</th>
                            <th class="text-center">STORE</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var payment in Model.Payments)
                        {
                            <tr>
                                <td>1</td>
                                <td>@payment.OrderNumber</td>
                                <td>@payment.OrderNumber</td>
                                <td>@payment.PaymentDateString()</td>
                                <td>@Model.PayeeOrBenificiery</td>
                                <td>@payment.PaymentNumber</td>
                                <td>@payment.PaymentAmount</td>
                                <td>YES</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="primary-form-block">

                    <h3 class="page-title">
                        Questionnaire
                    </h3>

                    @if (ViewBag.Payment == "R10K")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">
                                    One Quote Attached <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                                <div class="col-sm-4">
                                    <label for="OneQuoteAttached" class="custom-select">
                                        @Html.DropDownListFor(model => model.OneQuoteAttached,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                            })
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.OneQuoteAttachedRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.OneQuoteAttachedFile, "", new { @type = "file", Name = "files[]" })
                            </div>
                        </div>
                    }
                    @if (ViewBag.Payment == "R30K" || ViewBag.Payment == "R500K")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                                <label class="col-sm-8 control-label">
                                    Three Quotes Attached <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                                <div class="col-sm-4">
                                    <label for="ThreeQuotesAttached" class="custom-select">
                                        @Html.DropDownListFor(model => model.ThreeQuotesAttached,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                            })
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.ThreeQuotesAttachedRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.ThreeQuotesAttachedFile, "", new { @type = "file", Name = "files[]" })
                            </div>
                        </div>
                    }
                    @if (ViewBag.Payment == "R10K" || ViewBag.Payment == "R30K" || ViewBag.Payment == "R500K")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                                <label for="answer5" class="col-sm-8 control-label">
                                    RELATE TO CONTRACT <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                                <div class="col-sm-4">
                                    <label for="RelateToContract" class="custom-select">
                                        @Html.DropDownListFor(model => model.RelateToContract,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                            })
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.RelateToContractRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.RelateToContractFile, "", new { @type = "file", Name = "files[]" })
                            </div>
                        </div>
                    }
                    @if (ViewBag.Payment == "R10K" || ViewBag.Payment == "Above")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                            @if (ViewBag.Payment == "Above")
                            {
                                <label for="answer5" class="col-sm-8 control-label">
                                    AVAILABLE THROUGH A TRANSVERSAL CONTRACT <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                            }
                            else
                            {
                                <label for="answer5" class="col-sm-8 control-label">
                                    TRANSVERSAL CONTRACT <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                            }
                                <div class="col-sm-4">
                                    <label for="RelateToContract" class="custom-select">
                                        @Html.DropDownListFor(model => model.TransversalContract,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                            })
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.TransversalContractRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.TransversalContractFile, "", new { @type = "file", Name = "files[]" })
                            </div>
                        </div>
                    }
                    @if (ViewBag.Payment == "R30K" || ViewBag.Payment == "R500K" || ViewBag.Payment == "Above")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                                @if (ViewBag.Payment == "Above")
                                {
                                    <label for="answer5" class="col-sm-8 control-label">
                                        DEVIATION WAS APPROVED <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                    </label>
                                }
                                else
                                {
                                    <label for="answer5" class="col-sm-8 control-label">
                                        DEVIATION <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                    </label>
                                }
                                <div class="col-sm-4">
                                    <label for="OneQuoteAttached" class="custom-select">
                                        @Html.DropDownListFor(model => model.Deviation,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                        })
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.DeviationRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.DeviationFile, "", new { @type = "file", Name = "files[]" })
                            </div>
                        </div>
                    }
                    @if (ViewBag.Payment == "Above")
                    {
                        <div class="questionnaire">
                            <div class="form-group">
                                <label for="answer5" class="col-sm-8 control-label">
                                    WINNING SUPPLIER DECLARING ANY INTEREST <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                                </label>
                                <div class="col-sm-4">
                                    <label for="OneQuoteAttached" class="custom-select">
                                        @Html.DropDownListFor(model => model.WinningSupplier,
                                            new List<SelectListItem>{
                                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                                new SelectListItem { Value = "No", Text = "No"},
                                        })
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.WinningSupplierRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                                </div>
                            </div>
                            <div class="form-group file-input">
                                <label for="exampleInputFile" class="control-label">FILE: </label>
                                @Html.TextBoxFor(model => model.WinningSupplierFile, "", new { @type = "file", Name="files[]" })
                            </div>
                        </div>
                    }
                </div>
                <div class="second-form-block">
                    <h3 class="page-title">UPLOADED FILES</h3>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="8%" class="text-center">NO</th>
                                <th class="text-center">FILE NAME</th>
                                <th width="20%" class="text-center action">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="fileTableBody">
                        </tbody>
                    </table>
                </div>

                <div class="primary-form-block">
                    <h3 class="page-title">Conclusion: -</h3>

                    <div class="form-group">
                        <label for="answer5" class="col-sm-8 control-label">
                            Case deemed to be irregular <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for='PaymentConclusion' class='custom-select'>
                                @Html.DropDownListFor(model => model.PaymentConclusion,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                    })
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                // get file fields
                var fElements = $('input[name="files[]"]');
                var tempHtml = "";
                for (var i = 0, j = 0; i < fElements.length; i++) {
                    var el = fElements[i];
                    if (el.files.length > 0) {
                        j++;
                        tempHtml += "<tr>" +
                            "<td>" + j + "</td>" +
                            "<td>" + el.files[0].name+ "</td>" +
                            "<td><a href='javascript:false' class='btn btn-delete deleteAttachLink' data-id='" + el.id + "'>DELETE</a></td></tr>";
                    }
                }
                $("#fileTableBody").html(tempHtml);
                $(".deleteAttachLink").on("click", function () {
                    var el = $(this);
                    var file = $("body").find('#' + el.data('id'));
                    file.val("");
                    el.closest('tr').remove();
                });                
            });

            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });
        });
    </script>
}