﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Phase4.2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title no-margin-b">Condonation:-</h3>

            @using (Html.BeginForm("Phase42Next", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms" }))
            {
                <div class="form-group">
                    <label for="condoningAuthority" class="col-sm-8 control-label">
                        Utilise the examples of irregular expenditure and determine the condoning authority. If unsure - consult!
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.CondoningAuthority, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="answer1" class="col-sm-8 control-label">
                        Was a loss incurred?
                    </label>
                    <div class="col-sm-4">
                        <label for="Loss" class="custom-select">
                            @Html.DropDownListFor(model => model.Loss,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="amountOfLoss" class="col-sm-8 control-label">
                        What was the amount of the loss?
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.CalculatedLoss, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="answer2" class="col-sm-8 control-label">
                        Official liable in law?
                    </label>
                    <div class="col-sm-4">
                        <label for="OfficialConclusion" class="custom-select">
                            @Html.DropDownListFor(model => model.OfficialConclusion,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes, an official can be held liable (matrix was yes in ALL instances)"},
                                    new SelectListItem { Value = "No", Text = "No, an official cannot be held liable (matrix was no in most instances)"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown whether an official can be held liable (matrix contained 'unknown')"},
                                    })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input1" class="col-sm-8 control-label">
                        What is the amount contained on the irregular expenditure register?
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>


                <div class="form-group">
                    <label for="input2" class="col-sm-8 control-label">
                        Perform a search, on the bas data obtained, and based on the particular contract / order number, determine the total rand value incurred
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.TotalRandValue, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="amountConfirmed" class="col-sm-8 control-label">
                        Variance between amount confirmed to bas and the irregular expenditure register
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="amountConfirmed" placeholder="" value="@(Model.Amount-Model.CalculatedLoss)">
                    </div>
                </div>

                <div class="form-group" id="annexure_part1">
                    @Html.Partial("_AnnexureG", Model.AnnexureG.Count == 0 ? (new pwc.Models.AnnexureG()) : Model.AnnexureG.FirstOrDefault())
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#annexure_part1").hide();

            $("#Loss").on("change", function () {
                checkShowPart1();
            });
            $("#OfficialConclusion").on("change", function () {
                checkShowPart1();
            });
        });

        function checkShowPart1() {
            var a = $("#Loss").val();
            var b = $("#OfficialConclusion").val();

            if (a == "No" && b == "No") {
                $("#annexure_part1").show();
            } else {
                $("#annexure_part1").hide();
            }
        }
    </script>
}