﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Phase2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title no-margin-b">Determining whether there was a loss:-</h3>
            @using (Html.BeginForm("Phase2Next", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms", enctype = "multipart/form-data" }))
            {
                <!-- PART A -->
                <h4 class="form-part">PART A: <span class="dark-grey">Determining the loss amount</span></h4>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer1" class="col-sm-8 control-label">
                            Was the lowest quote/tender, Which met the specification, accepted <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="LowestQuote" class="custom-select">
                                @Html.DropDownListFor(model => model.LowestQuote,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.LowestQuoteRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.LowestQuoteFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>
                if (Model.LowestQuote == "No")
                {
                    <div class="questionnaire" id="approved_deviation">
                        <div class="form-group">
                            <label for="answer2" class="col-sm-8 control-label">
                                Was there a properly documented and approved deviation <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                            </label>
                            <div class="col-sm-4">
                                <label for="ApprovedDeviation" class="custom-select">
                                    @Html.DropDownListFor(model => model.ApprovedDeviation,
                     new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                     })
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(model => model.ApprovedDeviationRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                            </div>
                        </div>
                        <div class="form-group file-input">
                            <label for="exampleInputFile" class="control-label">FILE: </label>
                            @Html.TextBoxFor(model => model.ApprovedDeviationFile, "", new { @type = "file", Name = "files[]" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="questionnaire" id="approved_deviation" style="display: none;">
                        <div class="form-group">
                            <label for="answer2" class="col-sm-8 control-label">
                                Was there a properly documented and approved deviation <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                            </label>
                            <div class="col-sm-4">
                                <label for="ApprovedDeviation" class="custom-select">
                                    @Html.DropDownListFor(model => model.ApprovedDeviation,
                             new List<SelectListItem>{
                                        new SelectListItem { Value = "Yes", Text = "Yes"},
                                        new SelectListItem { Value = "No", Text = "No"},
                                        new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                        new SelectListItem { Value = "N/A", Text = "N/A"},
                             })
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                            <div class="col-sm-9">
                                @Html.TextAreaFor(model => model.ApprovedDeviationRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                            </div>
                        </div>
                        <div class="form-group file-input">
                            <label for="exampleInputFile" class="control-label">FILE: </label>
                            @Html.TextBoxFor(model => model.ApprovedDeviationFile, "", new { @type = "file", Name = "files[]" })
                        </div>
                    </div>
                }
                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer3" class="col-sm-8 control-label">
                            Can we therefore conclude that the lowest quote/tender was excepted or that there was an adequately documented deviation <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="AdequatelyDocumentedDeviation" class="custom-select">
                                @Html.DropDownListFor(model => model.AdequatelyDocumentedDeviation,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.AdequatelyDocumentedDeviationRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.AdequatelyDocumentedDeviationFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                if (Model.AdequatelyDocumentedDeviation == "No")
                {
                    <div class="form-group" id="calculated_loss">
                        <label for="calculatedLoss" class="col-sm-8 control-label">
                            Calculated loss
                        </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.CalculatedLoss, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group" id="calculated_loss" style="display: none;">
                        <label for="calculatedLoss" class="col-sm-8 control-label">
                            Calculated loss
                        </label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.CalculatedLoss, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>
                    </div>
                }

                <div class="form-group">
                    <label for="additionalInfo" class="col-sm-12 control-label">Document any additional, useful information (If necessary)</label>
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.AdditionalInformation, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group" id="annexure_part1">
                    @Html.Partial("_AnnexureB", Model.AnnexureB.Count==0?(new pwc.Models.AnnexureB()):Model.AnnexureB.FirstOrDefault())
                </div>

                <!-- END PART A -->
                <!-- PART B -->
                <h4 class="form-part">PART B: <span class="dark-grey">Confirming recei
                    pt of goods and services</span></h4>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer4" class="col-sm-8 control-label">
                            Through inspection of the relevant documents, could we determine whether the service/goods were rendered <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="GoodsWereRendered" class="custom-select">
                                @Html.DropDownListFor(model => model.GoodsWereRendered,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.GoodsWereRenderedRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.GoodsWereRenderedFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer5" class="col-sm-8 control-label">
                            Could you agree the amount spent, to the department's asset register? (For infrastructure - agree to the asset register for DPWI) <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="AssetRegister" class="custom-select">
                                @Html.DropDownListFor(model => model.AssetRegister,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.AssetRegisterRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.AssetRegisterFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="form-group" id="annexure_part2">
                    @Html.Partial("_AnnexureC", Model.AnnexureC.Count == 0 ? (new pwc.Models.AnnexureC()) : Model.AnnexureC.FirstOrDefault())
                </div>
                <div class="form-group" id="annexure_part3">
                    @Html.Partial("_AnnexureB", Model.AnnexureB.Count == 0 ? (new pwc.Models.AnnexureB()) : Model.AnnexureB.FirstOrDefault())
                </div>

                <!-- END PART B -->
                <!-- PART C -->
                <h4 class="form-part">PART C: <span class="dark-grey">Employee related payments (only in instances of a loss and where a payment is made to an official</span></h4>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer6" class="col-sm-8 control-label">
                            Does the case meet the definition of expenditure <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="DefinitionOfExpenditure" class="custom-select">
                                @Html.DropDownListFor(model => model.DefinitionOfExpenditure,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.DefinitionOfExpenditureRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.DefinitionOfExpenditureFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer7" class="col-sm-8 control-label">
                            Was there a loss <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="RelatedPaymentsLoss" class="custom-select">
                                @Html.DropDownListFor(model => model.RelatedPaymentsLoss,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.RelatedPaymentsLossRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.RelatedPaymentsLossFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer8" class="col-sm-8 control-label">
                            Was the payment made to an officials <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="PaymentMade" class="custom-select">
                                @Html.DropDownListFor(model => model.PaymentMade,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.PaymentMadeRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.PaymentMadeFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="form-group" id="annexure_part4">
                    @Html.Partial("_AnnexureD", Model.AnnexureD.Count == 0 ? (new pwc.Models.AnnexureD()) : Model.AnnexureD.FirstOrDefault())
                </div>

                <!-- END PART C -->
                <div class="second-form-block">
                    <h3 class="page-title">UPLOADED FILES</h3>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="8%" class="text-center">NO</th>
                                <th class="text-center">FILE NAME</th>
                                <th width="20%" class="text-center action">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="fileTableBody"></tbody>
                    </table>
                </div>
                <!-- PART D -->
                <h4 class="form-part">PART D: <span class="dark-grey">Conclusion</span></h4>

                <div class="form-group">
                    <label for="answer9" class="col-sm-8 control-label">
                        Was there a loss <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                    </label>
                    <div class="col-sm-4">
                        <label for="Loss" class="custom-select">
                            @Html.DropDownListFor(model => model.Loss,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                        </label>
                    </div>
                </div>

                <div class="form-group" id="annexure_part5">
                    @Html.Partial("_AnnexureB", Model.AnnexureB.Count == 0 ? (new pwc.Models.AnnexureB()) : Model.AnnexureB.FirstOrDefault())
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //$("#approved_deviation").hide();
            //$("#calculated_loss").hide();
            $("#annexure_part1").hide();
            $("#annexure_part2").hide();
            $("#annexure_part3").hide();
            $("#annexure_part4").show();
            $("#annexure_part5").hide();

            $("#LowestQuote").on("change", function () {
                var value = $(this).val();
                if (value == "No") {
                    $("#approved_deviation").show();
                } else {
                    $("#approved_deviation").hide();
                }
            });

            $("#AdequatelyDocumentedDeviation").on("change", function () {
                var value = $(this).val();
                $("#calculated_loss").hide();
                $("#annexure_part1").hide();
                if (value == "No") {
                    $("#calculated_loss").show();
                } else if (value == "Unknown") {
                    $("#annexure_part1").show();
                }
            });

            $("#GoodsWereRendered").on("change", function () {
                var value = $(this).val();
                $("#annexure_part2").hide();
                $("#annexure_part3").hide();
                if (value == "No") {
                    $("#annexure_part2").show();
                } else if (value == "Unknown") {
                    //$("#annexure_part3").show();
                }
            });

            $("#Loss").on("change", function () {
                var value = $(this).val();
                if (value == "Unknown") {
                    //$("#annexure_part5").show();
                } else {
                    $("#annexure_part5").hide();
                }
            });

            $("#DefinitionOfExpenditure").on("change", function () {
                checkShowPart4();               
            });
            $("#RelatedPaymentsLoss").on("change", function () {
                checkShowPart4();
            });
            $("#PaymentMade").on("change", function () {
                checkShowPart4();
            });

            /* uploaded file table handlers */
            $(':file').on('fileselect', function (event, numFiles, label) {

                // get file fields
                var fElements = $('input[name="files[]"]');
                var tempHtml = "";
                for (var i = 0, j = 0; i < fElements.length; i++) {
                    var el = fElements[i];
                    if (el.files.length > 0) {
                        j++;
                        tempHtml += "<tr>" +
                            "<td>" + j + "</td>" +
                            "<td>" + el.files[0].name + "</td>" +
                            "<td><a href='javascript:false' class='btn btn-delete deleteAttachLink' data-id='" + el.id + "'>DELETE</a></td></tr>";
                    }
                }
                $("#fileTableBody").html(tempHtml);
                $(".deleteAttachLink").on("click", function () {
                    var el = $(this);
                    var file = $("body").find('#' + el.data('id'));
                    file.val("");
                    el.closest('tr').remove();
                });
            });

            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });
        });
        function checkShowPart4() {
            var a = $("#DefinitionOfExpenditure").val();
            var b = $("#RelatedPaymentsLoss").val();
            var c = $("#PaymentMade").val();

            if (a == "Yes" && b == "Yes" && c == "Yes") {
                $("#annexure_part4").show();
            } else {
                $("#annexure_part4").hide();
            }
        }
    </script>
}