﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Phase4.1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title no-margin-b">Disciplinary action:-</h3>

            @using (Html.BeginForm("Phase41Next", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms", enctype = "multipart/form-data" }))
            {
                @*<div class="questionnaire">
                    <div class="form-group">
                        <label for="answer1" class="col-sm-8 control-label">
                            Does this case meet the definition for irregular expenditure <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="MeetIrregularExpenditure" class="custom-select">
                                @Html.DropDownListFor(model => model.MeetIrregularExpenditure,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes, this case meets the definition of Irregular Expenditure"},
                                    new SelectListItem { Value = "No", Text = "No, this case does not meet the definition of Irregular Expenditure"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.MeetIrregularExpenditureRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.MeetIrregularExpenditureFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>*@

                <div class="form-group" id="annexure_part1">
                    @Html.Partial("_AnnexureF", Model.AnnexureF.Count == 0 ? (new pwc.Models.AnnexureF()) : Model.AnnexureF.FirstOrDefault())
                </div>

                @*<div class="second-form-block">
                    <h3 class="page-title">UPLOADED FILES</h3>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="8%" class="text-center">NO</th>
                                <th class="text-center">FILE NAME</th>
                                <th width="20%" class="text-center action">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="fileTableBody"></tbody>
                    </table>
                </div>*@

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#MeetIrregularExpenditure").on("change", function () {
                var value = $(this).val();
                if (value == "Yes") {
                    $("#annexure_part1").show();
                } else {
                    $("#annexure_part1").hide();
                }
            });

            $(':file').on('fileselect', function (event, numFiles, label) {

                // get file fields
                var fElements = $('input[name="files[]"]');
                var tempHtml = "";
                for (var i = 0, j = 0; i < fElements.length; i++) {
                    var el = fElements[i];
                    if (el.files.length > 0) {
                        j++;
                        tempHtml += "<tr>" +
                            "<td>" + j + "</td>" +
                            "<td>" + el.files[0].name + "</td>" +
                            "<td><a href='javascript:false' class='btn btn-delete deleteAttachLink' data-id='" + el.id + "'>DELETE</a></td></tr>";
                    }
                }
                $("#fileTableBody").html(tempHtml);
                $(".deleteAttachLink").on("click", function () {
                    var el = $(this);
                    var file = $("body").find('#' + el.data('id'));
                    file.val("");
                    el.closest('tr').remove();
                });
            });

            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });
        });
    </script>
}