﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Phase3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title no-margin-b">Determining whether an official is liable in law:-</h3>

            @using (Html.BeginForm("Phase3Next", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms", enctype = "multipart/form-data" }))
            {
                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer1" class="col-sm-8 control-label">
                            Determining whethere an official is liable in law <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="OfficialDetermining" class="custom-select">
                                @Html.DropDownListFor(model => model.OfficialDetermining,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.OfficialDeterminingRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.OfficialDeterminingFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputIndicateNumber" class="col-sm-8 control-label">
                        Indicate the number of officials who was involved in the approval process of the procurement
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.OfficialNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <h4 class="form-part dark-grey">Determining the following, by scrutinising the information available:</h4>

                <div class="form-group">
                    <label for="inputOfficialName" class="col-sm-8 control-label">
                        Name and surname of offical
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.OfficialName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPosition" class="col-sm-8 control-label">
                        Position <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="Describe the official's job level, eg: Director; Deputy Director; State Accountant; etc">?</a>
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Possition, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputRole" class="col-sm-8 control-label">
                        Role in this case
                    </label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer2" class="col-sm-8 control-label">
                            Did the offical intentionally exceed his/her powers <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="Is there evidence that at the time of the irregular expenditure transgression, the official intentionally acted outside his/her delegated powers?">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="ExceedPowers" class="custom-select">
                                @Html.DropDownListFor(model => model.ExceedPowers,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.ExceedPowersRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.ExceedPowersFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer3" class="col-sm-8 control-label">
                            Did the official make use of alcohol or drugs <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title=" Is there documented proof that the official, at the time of the irregular expenditure transgression, was under the influence of either alcohol or drugs?">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="UseOfAlcohol" class="custom-select">
                                @Html.DropDownListFor(model => model.UseOfAlcohol,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.UseOfAlcoholRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.UseOfAlcoholFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer4" class="col-sm-8 control-label">
                            Did the official not act in the course and scope of his/her employment <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="Is there documented proof that the official, at the time of the irregular expenditure transgression, acted outside the boundaries of his/her job description and delegated powers?">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="ActInScope" class="custom-select">
                                @Html.DropDownListFor(model => model.ActInScope,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.ActInScopeRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.ActInScopeFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer5" class="col-sm-8 control-label">
                            Did the official act recklessly or intentionally <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="ActRectlessly" class="custom-select">
                                @Html.DropDownListFor(model => model.ActRectlessly,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.ActRectlesslyRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.ActRectlesslyFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer6" class="col-sm-8 control-label">
                            Did the official without prior consultation with the state attorney, make an admission that was detrimental to the state <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="WithoutPriorConsultation" class="custom-select">
                                @Html.DropDownListFor(model => model.WithoutPriorConsultation,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.WithoutPriorConsultationRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.WithoutPriorConsultationFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="questionnaire">
                    <div class="form-group">
                        <label for="answer7" class="col-sm-8 control-label">
                            Did the official fail to comply with or did he/she ignore standing instructions, of which or she was aware of could reasonably have been award of, which led to the loss, damage or reason for the claim <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="This displays the information regarding the question.">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="OfficialFail" class="custom-select">
                                @Html.DropDownListFor(model => model.OfficialFail,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes"},
                                    new SelectListItem { Value = "No", Text = "No"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown"},
                                    })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remarks" class="col-sm-9 control-label">REMARKS</label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.OfficialFailRemarks, new { @class = "form-control", placeholder = "WRITE YOUR REMARK..." })
                        </div>
                    </div>
                    <div class="form-group file-input">
                        <label for="exampleInputFile" class="control-label">FILE: </label>
                        @Html.TextBoxFor(model => model.OfficialFailFile, "", new { @type = "file", Name="files[]" })
                    </div>
                </div>

                <div class="second-form-block">
                    <h3 class="page-title">UPLOADED FILES</h3>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="8%" class="text-center">NO</th>
                                <th class="text-center">FILE NAME</th>
                                <th width="20%" class="text-center action">ACTION</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="fileTableBody"></tbody>
                    </table>
                </div>

                <div class="primary-form-block">
                    <h3 class="page-title">Conclusion: -</h3>

                    <div class="form-group">
                        <label for="answer8" class="col-sm-8 control-label">
                            Can the official be held liable in law <a href="javascript:false" class="info" data-toggle="tooltip" data-placement="right" title="An official is liable in law only when all six (6) elements of Treasury Regulation 12, as assessed above, resulted in a positive 'YES' response">?</a>
                        </label>
                        <div class="col-sm-4">
                            <label for="OfficialConclusion" class="custom-select">
                                @Html.DropDownListFor(model => model.OfficialConclusion,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "Yes", Text = "Yes, an official can be held liable (matrix was yes in ALL instances)"},
                                    new SelectListItem { Value = "No", Text = "No, an official cannot be held liable (matrix was no in most instances)"},
                                    new SelectListItem { Value = "Unknown", Text = "Unknown whether an official can be held liable (matrix contained 'unknown')"},
                                    })
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                // get file fields
                var fElements = $('input[name="files[]"]');
                var tempHtml = "";
                for (var i = 0, j = 0; i < fElements.length; i++) {
                    var el = fElements[i];
                    if (el.files.length > 0) {
                        j++;
                        tempHtml += "<tr>" +
                            "<td>" + j + "</td>" +
                            "<td>" + el.files[0].name+ "</td>" +
                            "<td><a href='javascript:false' class='btn btn-delete deleteAttachLink' data-id='" + el.id + "'>DELETE</a></td></tr>";
                    }
                }
                $("#fileTableBody").html(tempHtml);
                $(".deleteAttachLink").on("click", function () {
                    var el = $(this);
                    var file = $("body").find('#' + el.data('id'));
                    file.val("");
                    el.closest('tr').remove();
                });
            });

            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });
        });
    </script>
}
