﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Phase1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title" style="display:inline-block;">Basic Details: -</h3>

            @using (Html.BeginForm("Upload", "Case", null, FormMethod.Post, new { id = "form-payment-upload", enctype = "multipart/form-data", style = "display: inline-block; float: right;" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <span class="btn btn-secondary btn-round btn-file">
                    CSV UPLOAD <input type="file"  id="dataFile" name="upload">
                </span>

                <!--<div class="form-group">
                    <input type="file" id="dataFile" name="upload" />
                </div>

                <div class="form-group">
                    @*<input type="submit" value="Upload" class="btn btn-default" />*@
                    <button type="button" id="btnPaymentUpload" class="btn btn-primary">Upload</button>
                </div>-->
            }

            <div class="clearfix"></div>

            @using (Html.BeginForm("Phase1Next", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms" }))
            {

                <div class="form-group">
                    <label for="caseNumber" class="col-sm-8 control-label">Case number</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.CaseNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Enter Username" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="caseNumber" class="col-sm-8 control-label">Order number</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "001" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="crNumber" class="col-sm-8 control-label">Contract reference number(If applicable)</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.ContactRefferenceNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "ABmFP1234SD" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="cviOfVat" class="col-sm-8 control-label">Contract value inclusive of VAT(If applicable)</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.ContactValueIncVAT, new { htmlAttributes = new { @class = "form-control", placeholder = "R 60,000" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="payee" class="col-sm-8 control-label">Payee/Benificiery</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.PayeeOrBenificiery, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        @*@Html.DropDownListFor(model => model.PayeeOrBenificiery,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Payee", Text = "Payee"},
                                new SelectListItem { Value = "Benificiery", Text = "Benificiery"},
                                },
                            new { @class = "form-control" })*@
                    </div>
                </div>

                <div class="form-group">
                    <label for="amountRecored" class="col-sm-8 control-label">What is the amount recorded in register?</label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "R 55,000" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="descriptionOfCase" class="col-sm-12 control-label">Description of case</label>
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="categoryOfCase" class="col-sm-8 control-label">Category of case</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(model => model.CategoryID, Model.CategoryList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group" id="newCategory">
                    <label for="caseNumber" class="col-sm-8 control-label"></label>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.NewCategory, new { htmlAttributes = new { @class = "form-control", placeholder = "Other Category" } })
                    </div>
                </div>

                <div class="second-form-block">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 class="page-title">Payment Details</h3>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="25%" class="text-center">PAYMENT NUMBER</th>
                                        <th width="25%" class="text-center">PAYMENT DATE</th>
                                        <th width="25%" class="text-center">PAYMENT AMOUNT</th>
                                        <th width="25%" class="text-center no-padding">
                                            <a href="javascript:false" class="btn btn-add btn-block" id="addPaymentLink">ACTION</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="paymentTableBody">
                                    @if (Model.Payments != null)
                                    {
                                        foreach (var payment in Model.Payments)
                                        {
                                            <tr>
                                                <td>@payment.PaymentNumber</td>
                                                <td>@payment.PaymentDateString()</td>
                                                <td>@payment.PaymentAmount</td>
                                                <td><a href="javascript:false" class="btn btn-delete deletePaymentLink" data-id=@payment.PaymentID data-amount=@payment.PaymentAmount>DELETE</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" class="text-right">TOTAL</td>
                                        <td colspan="2" id="totalAmount">@ViewBag.totalAmount</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>                    
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-uppercase">Add payment data</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("PaymentAdd", "Case", FormMethod.Post, new { id = "form-payment", @class = "pwc-forms" }))
                {
                    <div class="form-group">
                        <label for="inputPaymentNumber">Payment Number</label>
                        <input type="text" class="form-control" id="inputPaymentNumber" name="inputPaymentNumber" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputOrderNumber">Order Number</label>
                        <input type="number" class="form-control" id="inputOrderNumber" name="inputOrderNumber" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="datetimepicker1">Payment Date</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' id="inputPaymentDate" name="inputPaymentDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPaymentAmount">Payment Amount</label>
                        <input type="text" class="form-control" id="inputPaymentAmount" name="inputPaymentAmount" placeholder="">
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn--primary" data-dismiss="modal">Close</button>
                <button type="button" id="btnPaymentAdd" class="btn btn-primary">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#newCategory").hide();
            $("#CategoryID").on("change", function () {
                if ($(this).val() == 0) {
                    $("#newCategory").show();
                } else {
                    $("#newCategory").hide();
                }
            });
            $('#paymentModal').on('shown.bs.modal', function () {
                $('#inputPaymentNumber').focus()
            });

            $("#paymentModal").on("submit", "#form-payment", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);

                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (result) {
                        showPayment(result);

                        // close modal
                        $("#paymentModal").modal('hide');

                        // clear form controls value
                        $("#inputPaymentNumber").val('');
                        $("#inputOrderNumber").val('');
                        $("#inputPaymentDate").val('');
                        $("#inputPaymentAmount").val('');
                    }
                });
            });

            $("#form-payment-upload").submit(function (event) {
                event.preventDefault();

                var form = $(this);
                var formData = new FormData($(this)[0]);

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: form.attr("action"),
                    //method: form.attr("method"),  // post
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (result) {
                        showPayment(result);
                    }
                });
            });

            $(':file').on('fileselect', function (event, numFiles, label) {
                console.log(event.target.id);
                console.log(numFiles);
                console.log(label);
                $("#form-payment-upload").submit();
            });

            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $("#btnPaymentUpload").on("click", function () {
                $("#form-payment-upload").submit();
            });

            $("#btnPaymentAdd").on("click", function () {
                $("#form-payment").submit();
            });

            $(".deletePaymentLink").on("click", function () {
                deletePayment($(this));
            });
        });
        function showPayment(result) {
            console.log(result);

            var tempHtml = "";
            var totalAmount = 0;
            for (var i = 0; i < result.length; i++) {
                tempHtml += "<tr>" +
                    "<td>" + result[i].PaymentNumber + "</td>" +
                    // "<td>" + result[i].OrderNumber + "</td>" +
                    "<td>" + result[i].DateString + "</td>" +
                    "<td>" + result[i].PaymentAmount + "</td>" +
                    "<td><a href='javascript:false' class='btn btn-delete deletePaymentLink' data-id='" + result[i].PaymentID + "' data-amount='" + result[i].PaymentAmount + "'>DELETE</a></td></tr>"
                totalAmount += parseFloat(result[i].PaymentAmount);
            }
            $("#paymentTableBody").html(tempHtml);
            $("#totalAmount").html(totalAmount);
            $(".deletePaymentLink").on("click", function () {
                deletePayment($(this));
            });
        }
        function deletePayment(element) {
            var a = parseFloat($("#totalAmount").html());
            console.log("a:" + a);
            var amount = parseFloat($("#totalAmount").html()) - parseFloat(element.data("amount"));

            $.ajax({
                url: window.location.origin + '/Case/PaymentDelete/' + element.data('id'),
                method: "GET",
                success: function (result) {
                    console.log(result);

                    // delete a table row from table view
                    element.closest('tr').remove();
                    $("#totalAmount").html(amount);
                }
            });
        }
    </script>
}