﻿
@{
    ViewBag.Title = "ShowIRRs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <div class="container bg-white">

        <div class="inner-container">
            <div class="pull-left">
                <h2 style="margin-top: 0;">IRRs</h2>
            </div>            

            <div class="pull-right">
                @Html.ActionLink("Create", "Phase1", "Case", null, new { @class = "btn btn-secondary btn-round" })
            </div>

            <div class="clearfix"></div>
            

            <table class="table table-bordered table-latest table-extra">
                <thead>
                    <tr>
                        <th class="text-center" width="75" style="line-height: 1;">Case Number</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Contact/Order No</th>
                        <th class="text-center">WAS THERE A LOSS</th>
                        <th class="text-center">Can the official be held liable in law</th>
                        <th class="text-center">STATUS</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var data in ViewBag.Cases)
                    {
                        <tr>
                            <td>@data.CaseNumber</td>
                            <td>@data.Amount</td>
                            <td>@data.ContactRefferenceNumber</td>
                            <td>@data.Loss</td>
                            <td>@data.OfficialConclusion</td>
                            <td>RESOLVED</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
