﻿@model pwc.Models.Case
@{
    ViewBag.Title = "Answer few questions here (Payment < R2K): -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <div class="container bg-white">

        <div class="inner-container">

            <h3 class="page-title">Answer few questions here (Payment < R2K): -</h3>
            @using (Html.BeginForm("UnsolicitedBidsNext", "Case", FormMethod.Post,
                new { @class = "form-horizontal pwc-forms" }))
            {
                <div class="form-group">
                    <label for="answer1" class="col-sm-8 control-label">
                        A comprehensive and relevant project feasibility study has established a clear business case
                    </label>
                    <div class="col-sm-4">
                        <label for="Feasibility" class="custom-select">
                            @Html.DropDownListFor(model => model.Feasibility,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                new SelectListItem { Value = "No", Text = "No"},
                                new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="answer2" class="col-sm-8 control-label">
                        The product or service involves an innovative design
                    </label>
                    <div class="col-sm-4">
                        <label for="InnovativeDesign" class="custom-select">
                            @Html.DropDownListFor(model => model.InnovativeDesign,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                new SelectListItem { Value = "No", Text = "No"},
                                new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                        </label>
                </div>
                </div>

                <div class="form-group">
                    <label for="answer3" class="col-sm-8 control-label">
                        The product or service involves an innovative approach to project development and management.
                    </label>
                    <div class="col-sm-4">
                        <label for="InnovativeApproach" class="custom-select">
                            @Html.DropDownListFor(model => model.InnovativeApproach,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                new SelectListItem { Value = "No", Text = "No"},
                                new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="answer4" class="col-sm-8 control-label">
                        The product or service present a new and cost-effective method of service delivery.
                    </label>
                    <div class="col-sm-4">
                        <label for="EffectiveMethod" class="custom-select">
                            @Html.DropDownListFor(model => model.EffectiveMethod,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                new SelectListItem { Value = "No", Text = "No"},
                                new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="answer5" class="col-sm-8 control-label">
                        The goods are not generally available from other suppliers
                    </label>
                    <div class="col-sm-4">
                        <label for="OtherSuppliers" class="custom-select">
                            @Html.DropDownListFor(model => model.OtherSuppliers,
                            new List<SelectListItem>{
                                new SelectListItem { Value = "Yes", Text = "Yes"},
                                new SelectListItem { Value = "No", Text = "No"},
                                new SelectListItem { Value = "N/A", Text = "N/A"},
                                })
                        </label>
                    </div>
                </div>

                <div class="second-form-block">
                    <h3 class="page-title">Conclusion: -</h3>

                    <div class="form-group">
                        <label for="answer5" class="col-sm-8 control-label">
                            The goods are not generally available from other suppliers
                        </label>
                        <div class="col-sm-4">
                            <label for="UnsolicitedBidConclusion" class="custom-select">
                                @Html.DropDownListFor(model => model.UnsolicitedBidConclusion,
                                new List<SelectListItem>{
                                    new SelectListItem { Value = "N/A", Text = "N/A"},
                                    new SelectListItem { Value = "Yes", Text = "Yes, this case meets the definition of irregular expenditure"},
                                    new SelectListItem { Value = "No", Text = "No, this case does not meet the definition of irregular expenditure"},                                    
                                    })
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button type="submit" class="btn btn-secondary btn-round">NEXT &gt;</button>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
