﻿@model pwc.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parsys sectionpar">
    <!-- Usage note: replace the following with component snippet HHTML -->
    <div class="container">

        <!-- Login form -->
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                new { @class = "pwc-forms login-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="inputUsername">Username</label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            @*<p class="text-dummy text-right">DUMMY TEXT HERE</p>*@
            <div class="form-group">
                @Html.DisplayFor(model => model.LoginErrorMessage)
            </div>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
        }


    </div>
    <br><br><br><br>
</div>