﻿@model pwc.Models.AnnexureB
<h4 class="form-annexure">ANNEXURE B</h4>

<div class="form-group">
    <label for="annexure-b-desc" class="col-sm-12 control-label">Description of the case</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.B_Description, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="annexure-b-discussion" class="col-sm-12 control-label">Discussion/Reason why loss amount in unknown</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.B_Reason, new { @class = "form-control" })
    </div>
</div>
