﻿@model pwc.Models.AnnexureC
<h4 class="form-annexure">Annexure C</h4>

<div class="form-group">
    <label for="annexure-c-desc" class="col-sm-12 control-label">Description of the case</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.C_Description, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="annexure-c-employee" class="col-sm-12 control-label">Employee and/or supplier involved</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.C_Involved, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="annexure-c-discussion" class="col-sm-12 control-label">Discussion/Reason why loss amount in unknown</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.C_Reason, new { @class = "form-control" })
    </div>
</div>