﻿@model pwc.Models.AnnexureG
<div class="form-annexure">Annexure G</div>

<div class="form-group">
    <label for="annexure-input1" class="col-sm-8 control-label">
        Evidence indicating that the enquiry/investigation revealed that no official is liable in law
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.EvidenceIndicating, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input2" class="col-sm-8 control-label">
        Was there good reason(s) fro the transgression?
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.TransgressionReason, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input3" class="col-sm-8 control-label">
        Detailed motivation as to why the irregular expenditure
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.DetailedMotivation, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input4" class="col-sm-8 control-label">
        Details of the transgression
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.DetailOfTransgression, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input5" class="col-sm-8 control-label">
        Reference to relevant legislation
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.ReferenceToRelevantLegislation, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input6" class="col-sm-8 control-label">
        Reasons for deviating from the required legislation or prescripts
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.DeviatingReason, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input7" class="col-sm-8 control-label">
        Indicate whether the state has suffered any loss
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.IndicateStateLoss, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input8" class="col-sm-8 control-label">
        In the case of supply chain management transgressions provide reasonableness of price(s) determined in a case where only one price was sourced from one bidder
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.FromOneBidder, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input9" class="col-sm-8 control-label">
        Financial implications of such a transgression
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.FinancialImplications, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input10" class="col-sm-8 control-label">
        In the case of a supply chain management transgression provide the contractor(s) who were involved
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.Contractors, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input11" class="col-sm-8 control-label">
        Corrective steps taken to prevent any recurrence
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.CorrectiveSteps, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="annexure-input12" class="col-sm-8 control-label">
        The relevant supporting documentation
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.RelevantSupportingDocumentation, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>