﻿@model pwc.Models.AnnexureF
<div class="form-annexure">Annexure F</div>

<div class="form-group">
    <label for="firstPaymentDate" class="col-sm-8 control-label">
        Date of first payment
    </label>
    <div class="col-sm-4">
        <input class="form-control" value="@ViewBag.FirstPayment" readonly/>
        @Html.EditorFor(model => model.F_DateOfFirstPayment, new { htmlAttributes = new { @class = "form-control hide", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="lastPaymentDate" class="col-sm-8 control-label">
        Date of last payment
    </label>
    <div class="col-sm-4">
        <input class="form-control" value="@ViewBag.LastPayment" readonly />
        @Html.EditorFor(model => model.F_DateOfLastPayment, new { htmlAttributes = new { @class = "form-control hide", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="descOfCase" class="col-sm-12 control-label">Description of the case</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.F_Description, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="inputOfficialName" class="col-sm-8 control-label">
        Official Name and surname
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.F_OfficialName, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="inputPosition" class="col-sm-8 control-label">
        Position
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.F_Position, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="inputRole" class="col-sm-8 control-label">
        Role
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.F_Role, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="inputInstruction" class="col-sm-8 control-label">
        Instruction not complied whith
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.F_InstructionNotCompliedWith, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>

<div class="form-group">
    <label for="inputAmountOfLoss" class="col-sm-8 control-label">
        Amount of the loss
    </label>
    <div class="col-sm-4">
        @Html.EditorFor(model => model.F_LossAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
    </div>
</div>