﻿@model pwc.Models.AnnexureD
<h4 class="form-annexure">Annexure D</h4>

<div class="form-group">
    <label for="annexure-d-desc" class="col-sm-12 control-label">Description of the case</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.D_Description, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="annexure-d-official-name" class="col-sm-12 control-label">Name(s) of official</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.D_NamesOfOfficial, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    <label for="annexure-d-discussion" class="col-sm-12 control-label">Discussion/Reason why loss amount in unknown</label>
    <div class="col-sm-12">
        @Html.TextAreaFor(model => model.D_Reason, new { @class = "form-control" })
    </div>
</div>