﻿<div class="parsys sectionpar">

    <!-- Begin footer component -->
    <!-- <script type="text/javascript" src="assets/js/components/footer.js"></script> -->
    <!-- Begin Global footer  component -->
    <div class="dpe-component-wrapper glb-footer">
        <div class="container">
            <div class="row">
                <!-- output footer version of breadcrumb -->
                <nav id="footerBreadcrumbWrapper" class="col-xs-12 simple-breadcrumb-component simple-breadcrumb-component--dark-bg">

                    <div class="breadcrumb-component__scroll-pane">
                        <ul class="breadcrumb">
                            <li><a href="#">Our services</a></li>
                            <li><a href="#">Advisory</a></li>
                            <li><a href="#">Consulting</a></li>
                            <li><a href="#">Forensic services</a></li>
                            <li><a href="#">Global Economic Crime Survey 2016</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumb-component__scroll-fade breadcrumb-component__scroll-fade--left"></div>
                    <div class="breadcrumb-component__scroll-fade breadcrumb-component__scroll-fade--right"></div>

                </nav>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-2 ">
                    <div class="glb-footer__block">
                        <a class="serif  glb-footer__link glb-footer__link--l1" href="#">Global business issues</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Country desks</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Global Megatrends</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Governance</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Innovation &amp; technology</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Operations</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Regulation</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Risk</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Strategy &amp; growth</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Sustainability</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Talent</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 ">
                    <div class="glb-footer__block">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="serif glb-footer__link glb-footer__link--l1" href="#">Services</a>
                            </div>
                        </div>
                        <!-- begin outputting block links within two sub columns   -->
                        <div class="row">
                            <div class="col-xs-6">
                                <a class="glb-footer__link glb-footer__link--l2" href="#">All services </a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Audit &amp; Assurance</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Consulting</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Deals</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Deal strategy and readiness</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Acquisitions</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Alliances</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Divestitures</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Capital markets</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Crisis, restructurings and restatements</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">PwC Corporate Finance LLC</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#"> Publications</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Webcasts</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Podcasts</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Forensic Services</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Risk Assurance</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Your business issues</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Risk Assurance services and solutions</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Risk Assurance perspectives</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">PwC's Risk Assurance Team</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Human Resource Services</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">IFRS reporting</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">Private Company Services</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">PwC Corporate Finance LLC</a>
                                <a class="glb-footer__link glb-footer__link--l2" href="#">US Tax Services</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Human Resource Services</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Global Employee Mobility</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">International Tax</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">State and Local Tax</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Tax Accounting</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Tax Controversy and Regulatory Processes</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Tax Credits, Deductions, and Studies</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Tax Reporting &amp; Strategy</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">Transfer Pricing</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#">US Inbound Tax</a>
                                <a class="glb-footer__link glb-footer__link--l3" href="#"> Washington National Tax</a>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <div class="glb-footer__block">
                        <a class="serif  glb-footer__link glb-footer__link--l1" href="#">Industries</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">All industries</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Asset management</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Automotive</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Banking &amp; Capital Markets</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Communications</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Energy &amp; Mining</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Entertainment &amp; media</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Financial services</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Health Industries</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Hospitality &amp; leisure</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Industrial Products</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Insurance</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Law firm services</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Pharmaceuticals &amp; Life Sciences</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Power &amp; utilities</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Private companies</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Private equity</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Public sector</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Real estate</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Retail &amp; consumer</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Technology</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2 ">
                    <div class="glb-footer__block">
                        <a class="serif glb-footer__link glb-footer__link--l1" href="#">Research &amp; insights</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">2015 US CEO Survey</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">2015 US CEO survey</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Video library</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">10Minutes</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Center for Technology and Innovation</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Financial Services Institute</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Technology Institute</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Health Research Institute</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Center for Board Governance</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">PwC's Investor Resource </a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Institute</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Point of view</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">View</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">CFOdirect</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-2">
                    <div class="glb-footer__block">
                        <a class="serif glb-footer__link glb-footer__link--l1" href="#">About us</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Alumni</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Alliances</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#"> Awards</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Corporate responsibility</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Diversity</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Our global site</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Press room</a>
                        <a class="glb-footer__link glb-footer__link--l2" href="#">Video library</a>
                    </div>
                    <div class="glb-footer__block">
                        <a class="serif glb-footer__link glb-footer__link--l1" href="#">Careers</a>
                    </div>
                    <div class="glb-footer__block">
                        <a class="serif     glb-footer__link glb-footer__link--l1" href="#">PwC Open University</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="glb-footer__disclaimer">
                        <div class="row">
                            <div class="col-md-8 glb-footer__disclaimer-text">
                                <p>&copy; 2011-2016 PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see <a href="#">www.pwc.com/structure</a> for further details.</p>

                                <!-- optional disclaimer links -->
                                <ul class="glb-footer__disclaimer-links">
                                    <li>
                                        <a href="#" target="_self">Privacy</a>
                                    </li>

                                    <li>
                                        <a href="#" target="_self">Cookies info</a>
                                    </li>

                                    <li>
                                        <a href="#" target="_self">Legal </a>
                                    </li>

                                    <li>
                                        <a href="#" target="_self">Linking policy</a>
                                    </li>

                                    <li>
                                        <a href="#" target="_self">Site provider</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Global footer  component -->
    <!-- End footer component -->
</div>