﻿<!-- begin global slim header-->

<div class="glb-slim-header glb-slim-header--has-breadcrumb  glb-slim-header--complex glb-slim-header--togglebreadcrumb" id="glbSlimHeader">
    <div class="glb-slim-header-wrapper" id="glbSlimHeaderWrapper">
        <div class="glb-slim-header__bar" id="glbSlimHeaderBar">
            <div class="container glb-slim-header__container">
                <div class=" glb-slim-header__flexrow">
                    <!-- include brand-->
                    <div class="  glb-slim-header__branding">
                        <a class="glb-slim-header__logo" href="http://www.pwc.com/gx/en.html">
                            <img alt="PwC" src="~/Content/images/header/PwC-logo.svg" class=" img-responsive">
                        </a>
                        <span class="glb-slim-header__divider " role="separator"></span>
                        <a class="glb-slim-header__subbrand" href="http://www.pwc.com/gx/en.html">Bosnia and Herzegovina</a>
                    </div>
                    <!-- include global tools menu-->
                    <div class=" glb-slim-header__nav-ctrls">
                        <div class=" glb-slim-header__tools">
                            <div class="glb-slim-header__tool glb-slim-header__tool--search glb-slim-header__tool--closed">
                                <button class="glb-slim-header__panel-trigger" data-toggle-gh-panel="true">
                                    <span class="sr-only">Search</span>
                                    <span class="icon-el icon-el--search">
                                        <span class="icon-el__normal"></span>
                                        <span class="icon-el__on"></span>
                                    </span>
                                </button>
                                <div class="glb-slim-header__tool-content">
                                    <div class="glb-slim-header__search">
                                        <form class="pwc-inline-form" role="search" action="/gx/en/search.html" method="get">
                                            <div class="pwc-inline-form__field form-group">
                                                <label class="sr-only " for="globalSearch">Search</label>
                                                <input type="text" class="form-control" id="globalSearch" name="globalSearch" placeholder="Search">
                                            </div>

                                            <button type="submit" class="sr-only btn btn--primary" role="button" tabIndex="-1">Submit</button>
                                        </form>
                                        <div class="glb-slim-header__search-suggestions">
                                            <p class="h6 glb-slim-header__search-suggestions__heading">Quick links</p>
                                            <div class="glb-slim-header__search-suggestion">
                                                <a class="h5 serif glb-slim-header__search-link" href="urlofsearchpage.html?q=abc">Industries</a>
                                            </div>
                                            <div class="glb-slim-header__search-suggestion">
                                                <a class="h5 serif glb-slim-header__search-link" href="urlofsearchpage.html?q=abc">Services</a>
                                            </div>
                                            <div class="glb-slim-header__search-suggestion">
                                                <a class="h5 serif glb-slim-header__search-link" href="urlofsearchpage.html?q=abc">Consulting</a>
                                            </div>
                                            <div class="glb-slim-header__search-suggestion">
                                                <a class="h5 serif glb-slim-header__search-link" href="urlofsearchpage.html?q=abc">Careers</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="glb-slim-header__tool glb-slim-header__tool--share glb-slim-header__tool--closed glb-slim-header__tool--desktop-only">
                                <button class="glb-slim-header__panel-trigger" href="#" data-toggle-gh-panel="true">
                                    <span class="sr-only">Share this page</span>
                                    <span class="icon-el icon-el--share">
                                        <span class="icon-el__normal"></span>
                                        <span class="icon-el__on"></span>
                                    </span>
                                </button>
                                <div class="glb-slim-header__tool-content">

                                    <!-- begin Panel sharing panel -->
                                    <div class="dpe-component-wrapper page-sharing">
                                        <div class="page-sharing__share-options">
                                            <div class="page-sharing__share-options-content">
                                                <span class="page-sharing__share-title sr-only">Share this page</span>
                                                <div class="page-sharing__share-btns">
                                                    <a class="page-sharing__share-btn" href="http://www.facebook.com/share.php?u=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--facebook"><span class="sr-only">Facebook</span></span></a>
                                                    <a class="page-sharing__share-btn" href="http://twitter.com/home?status=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--twitter"><span class="sr-only">Twitter</span></span></a>
                                                    <a class="page-sharing__share-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--linkedin"><span class="sr-only">Linkedin</span></span></a>
                                                    <a class="page-sharing__share-btn" href="https://plus.google.com/share?url=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--googleplus-alt"><span class="sr-only">GooglePlus</span></span></a>
                                                    <a class="page-sharing__share-btn" href="https://pinterest.com/pin/create/button/?url=source&media=test&description="><span class="page-sharing__share-icon page-sharing__share-icon--pinterest"><span class="sr-only">Pinterest</span></span></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end Page sharing panel -->

                                </div>
                            </div>

                            <div class="glb-slim-header__tool glb-slim-header__tool--autosuggest glb-slim-header__tool--closed glb-slim-header__tool--desktop-only">
                                <button class="glb-slim-header__panel-trigger" data-toggle-gh-panel="true">
                                    <span class="sr-only">Change country</span>
                                    <span class="icon-el icon-el--territory">
                                        <span class="icon-el__normal"></span>
                                        <span class="icon-el__on"></span>
                                    </span>
                                </button>
                                <div class="glb-slim-header__tool-content">

                                    <form class="pwc-inline-form" action="urlforfallbackprocessingpage.html" method="get">
                                        <div class="pwc-inline-form__field pwc-inline-form__field--select2 pwc-inline-form__field--auto-suggest form-group">
                                            <label class="sr-only field-label " for="territorySelector">Change country</label>

                                            <select id="territorySelector" name="territorySelector" style="width: 100%;">
                                                <optgroup label="Choose a country:">
                                                    <option value="http://pwc.com">Global</option>
                                                    <option value="http://pwc.com.au" selected="">Australia</option>
                                                    <option value="http://www.pwc.com/at">Austria</option>
                                                    <option value="http://www.pwc.com/br">Brazil</option>
                                                    <option value="http://www.pwc.com/ca">Canada</option>
                                                    <option value="http://www.pwc.com/fr">France</option>
                                                    <option value="http://www.pwc.com/de">Germany</option>
                                                    <option value="http://www.pwc.com/cn-s/home">Greater China</option>
                                                    <option value="http://www.pwc.com/in">India</option>
                                                    <option value="http://www.pwc.com/il/home">Israel</option>
                                                    <option value="http://www.pwc.com/it">Italy</option>
                                                    <option value="http://www.pwc.com/jp/home">Japan</option>
                                                    <option value="http://www.pwc.com/la/home">Argentina, Chile, Colombia, Peru, Venezuela</option>
                                                    <option value="http://www.pwc.com/mx/home">México</option>
                                                    <option value="http://www.pwc.com/me/home">UAE, Lebanon, Saudi Arabia, Egypt, Qatar</option>
                                                    <option value="http://www.pwc.com/nl/home">Netherlands</option>
                                                    <option value="http://www.pwc.com/nordic/home">Denmark, Finland, Norway, Sweden</option>
                                                    <option value="http://www.pwc.com/na/home">USA</option>
                                                    <option value="http://www.pwc.com/ru-e/home">Russia </option>
                                                    <option value="http://www.pwc.com/es">Spain</option>
                                                    <option value="http://www.pwc.com/za/home">South Africa</option>
                                                    <option value="http://www.pwc.com/sea/home">Indonesia, Malaysia, Sing</option>
                                                </optgroup>
                                            </select>
                                        </div>

                                        <button type="submit" class="sr-only btn btn--primary" role="button">Submit</button>
                                    </form>
                                </div>
                            </div>

                            <div class="glb-slim-header__tool glb-slim-header__tool--closed  glb-slim-header__tool--dropdown glb-slim-header__tool--desktop-only">
                                <button class="glb-slim-header__panel-trigger" href="#" data-toggle-gh-panel="true">
                                    <span class="sr-only">Change language</span>
                                    <span class="icon-el icon-el--language">
                                        <span class="icon-el__normal"></span>
                                        <span class="icon-el__on"></span>
                                    </span>
                                </button>
                                <div class="glb-slim-header__tool-content">

                                    <form class="pwc-inline-form" action="urlforfallbackprocessingpage.html" method="get">
                                        <div class="pwc-inline-form__field pwc-inline-form__field--select2  pwc-inline-form__field--dropdown form-group">
                                            <label class="sr-only field-label " for="languageSelector">View this content in</label>


                                            <select id="languageSelector" name="languageSelector" style="width: 100%;">
                                                <optgroup label="Choose a language:">

                                                    <option value="http://pwc.com/en/" selected="">English</option>
                                                    <option value="http://pwc.com/fr/">French</option>
                                                    <option value="http://pwc.com/nl/">Dutch</option>
                                                </optgroup>

                                            </select>
                                        </div>

                                        <button type="submit" class="sr-only btn btn--primary" role="button" tabIndex="-1">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <button id="dropdownTrigger_lg" type="button" class="global-nav-block navbar-toggle glb-slim-header__navbar-toggle glb-slim-header__navbar-toggle--has-label" data-toggle-nav="true">

                            <div class="icon-bar-wrapper">
                                <span class="icon-bar icon-bar1"></span>
                                <span class="icon-bar icon-bar2"></span>
                                <span class="icon-bar icon-bar3"></span>
                            </div>
                            <span class="text">Menu</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!-- end .glb-slim-header__bar -->

        <!-- include .glb-slim-header-nav-wrap outside of .container.glb-slim-header__container element -->
        <div class=" glb-slim-header-nav-wrapper">
            <!-- include global nav takeover panel-->
            <!-- Begin Global nav  component -->
            <div class="dpe-component-wrapper glb-nav glb-nav--takeover " id="globalNav">
                <nav class="navbar ">
                    <div class="container glb-nav__container">
                        <!-- need a container here...-->
                        <div class="glb-nav__links-wrapper">

                            <!-- include optional contextual section heading. This helps the user understand where they are in the deeper IA structure. It should only be required for larger websites -->
                            <div class="glb-nav__current-heading col-sm-8 col-xs-12 clearfix">

                                <a class="glb-nav__current-heading__link serif" href="#"><span class="text">Tax</span></a>

                            </div>
                            <!-- Area for primary links relative to the current page i.e. sibling pages -->
                            <div class="glb-nav__primary-wrapper">
                                <ul class="nav navbar-nav glb-nav__primary-links">

                                    <li><a href="#"><span class="text">Tax home</span></a></li>

                                    <li class="active open dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="text">Indirect taxes</span><span class="caret"></span></a>

                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">Overview</span></a></li>
                                            <li class="active"><a href="#"><span class="text">How we can help you</span><span class="sr-only">(current)</span></a></li>
                                            <li><a href="#"><span class="text">Indirect tax management life cycle</span></a></li>
                                            <li><a href="#"><span class="text">Global indirect taxes news alerts</span></a></li>
                                            <li><a href="#"><span class="text">Customs</span></a></li>
                                            <li><a href="#"><span class="text">Events and insights</span></a></li>


                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text">International tax services</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">EU direct tax group</span></a></li>
                                            <li><a href="#"><span class="text">Latin American Tax Group</span></a></li>
                                            <li><a href="#"><span class="text">International Tax Desks</span></a></li>
                                            <li><a href="#"><span class="text">Global R&amp;D incentives</span></a></li>
                                            <li><a href="#"><span class="text">Research &amp; insights</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="text">Mergers &amp; acquisitions</span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text">Tax reporting strategy</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">Overview</span></a></li>
                                            <li><a href="#"><span class="text">Tax strategy &amp; operations</span></a></li>
                                            <li><a href="#"><span class="text">Tax technology</span></a></li>
                                            <li><a href="#"><span class="text">Tax accounting services</span></a></li>
                                            <li><a href="#"><span class="text">Tax reporting &amp; compliance</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="text">Tax controversy &amp; dispute resolution</span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text">Tax policy &amp; administration</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">What is tax policy?</span></a></li>
                                            <li><a href="#"><span class="text">Tax policy experience</span></a></li>
                                            <li><a href="#"><span class="text">Governmental and supranational organisations that shape tax policy</span></a></li>
                                            <li><a href="#"><span class="text">Base Erosion and Profit Shifting (BEPS)</span></a></li>

                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text">Transfer pricing</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">Overview</span></a></li>
                                            <li><a href="#"><span class="text">Country by country reporting</span></a></li>
                                            <li><a href="#"><span class="text">End-to-end transfer pricing</span></a></li>
                                            <li><a href="#"><span class="text">Financial services transfer pricing</span></a></li>
                                            <li><a href="#"><span class="text">Global coordinated documentation</span></a></li>
                                            <li><a href="#"><span class="text">Something else here</span></a></li>
                                            <li><a href="#"><span class="text">Value chain analysis</span></a></li>
                                            <li><a href="#"><span class="text">Research &amp; Insights</span></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="text">Tax code of conduct</span></a></li>
                                    <li><a href="#"><span class="text">Tax contacts</span></a></li>
                                    <li><a href="#"><span class="text">Worldwide Tax Summaries</span></a></li>

                                </ul>

                                <!-- Area for secondary links relative to the current page - specific to rendtion -->
                                <div class="glb-nav__secondary-wrapper">
                                    <!-- child links for the current page should be rendered by the server here -->
                                    <ul class="nav navbar-nav glb-nav__secondary-links">
                                        <li><a href="#"><span class="text">Overview</span></a></li>
                                        <li class="active"><a href="#"><span class="text">How we can help you</span><span class="sr-only">(current)</span></a></li>
                                        <li><a href="#"><span class="text">Indirect tax management life cycle</span></a></li>
                                        <li><a href="#"><span class="text">Global indirect taxes news alerts</span></a></li>
                                        <li><a href="#"><span class="text">Customs</span></a></li>
                                        <li><a href="#"><span class="text">Events and insights</span></a></li>


                                    </ul>
                                </div>
                            </div>

                            <!-- Area for promoted links / level 1 links-->
                            <div class="glb-nav__promoted-wrapper">
                                <ul class="nav navbar-nav navbar-right glb-nav__promoted-links">
                                    <li class="navbar-text">Explore other sections:</li>



                                    <li><a href="#"><span class="text">Industries</span></a></li>
                                    <li><a href="#"><span class="text">Services</span></a></li>
                                    <li><a href="#"><span class="text">Today's issues</span></a></li>
                                    <li><a href="#"><span class="text">Research and insights</span></a></li>
                                    <li><a href="#"><span class="text">Careers</span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="text">About us</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span class="text">Our offices</span></a></li>
                                            <li><a href="#"><span class="text">Contact us</span></a></li>
                                            <li><a href="#"><span class="text">Another link</span></a></li>

                                        </ul>
                                    </li>
                                    <li><a href="#"><span class="text">Press room</span></a></li>


                                </ul>
                            </div>
                        </div>
                        <div class="glb-nav__tools">
                            <div class="glb-nav__tools__tool  ">
                                <div class="glb-nav__tools__tool-content">


                                    <!-- begin Panel sharing panel -->
                                    <div class="dpe-component-wrapper page-sharing">
                                        <div class="page-sharing__share-options">
                                            <div class="page-sharing__share-options-content">
                                                <span class="page-sharing__share-title sr-only">Share this page</span>
                                                <div class="page-sharing__share-btns">
                                                    <a class="page-sharing__share-btn" href="http://www.facebook.com/share.php?u=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--facebook"><span class="sr-only">Facebook</span></span></a>
                                                    <a class="page-sharing__share-btn" href="http://twitter.com/home?status=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--twitter"><span class="sr-only">Twitter</span></span></a>
                                                    <a class="page-sharing__share-btn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--linkedin"><span class="sr-only">Linkedin</span></span></a>
                                                    <a class="page-sharing__share-btn" href="https://plus.google.com/share?url=http%3A//www.pwc.com/crimesurvey"><span class="page-sharing__share-icon page-sharing__share-icon--googleplus-alt"><span class="sr-only">GooglePlus</span></span></a>
                                                    <a class="page-sharing__share-btn" href="https://pinterest.com/pin/create/button/?url=source&media=test&description="><span class="page-sharing__share-icon page-sharing__share-icon--pinterest"><span class="sr-only">Pinterest</span></span></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end Page sharing panel -->

                                </div>
                            </div>
                            <div class="glb-nav__tools__tool glb-nav__tools__tool--dropdown ">
                                <div class="glb-nav__tools__tool-content">

                                    <form class="pwc-inline-form" action="urlforfallbackprocessingpage.html" method="get">
                                        <div class="pwc-inline-form__field pwc-inline-form__field--select2  pwc-inline-form__field--dropdown form-group">
                                            <label class="sr-only field-label " for="languageSelector">View this content in</label>


                                            <select id="languageSelector" name="languageSelector" style="width: 100%;">
                                                <optgroup label="Choose a language:">

                                                    <option value="http://pwc.com/en/" selected="">English</option>
                                                    <option value="http://pwc.com/fr/">French</option>
                                                    <option value="http://pwc.com/nl/">Dutch</option>
                                                </optgroup>

                                            </select>
                                        </div>

                                        <button type="submit" class="sr-only btn btn--primary" role="button" tabIndex="-1">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div class="glb-nav__tools__tool glb-nav__tools__tool--dropdown ">
                                <div class="glb-nav__tools__tool-content">

                                    <form class="pwc-inline-form" action="urlforfallbackprocessingpage.html" method="get">
                                        <div class="pwc-inline-form__field pwc-inline-form__field--select2 pwc-inline-form__field--auto-suggest form-group">
                                            <label class="sr-only field-label " for="territorySelector">Change country</label>

                                            <select id="territorySelector" name="territorySelector" style="width: 100%;">
                                                <optgroup label="Choose a country:">
                                                    <option value="http://pwc.com">Global</option>
                                                    <option value="http://pwc.com.au" selected="">Australia</option>
                                                    <option value="http://www.pwc.com/at">Austria</option>
                                                    <option value="http://www.pwc.com/br">Brazil</option>
                                                    <option value="http://www.pwc.com/ca">Canada</option>
                                                    <option value="http://www.pwc.com/fr">France</option>
                                                    <option value="http://www.pwc.com/de">Germany</option>
                                                    <option value="http://www.pwc.com/cn-s/home">Greater China</option>
                                                    <option value="http://www.pwc.com/in">India</option>
                                                    <option value="http://www.pwc.com/il/home">Israel</option>
                                                    <option value="http://www.pwc.com/it">Italy</option>
                                                    <option value="http://www.pwc.com/jp/home">Japan</option>
                                                    <option value="http://www.pwc.com/la/home">Argentina, Chile, Colombia, Peru, Venezuela</option>
                                                    <option value="http://www.pwc.com/mx/home">México</option>
                                                    <option value="http://www.pwc.com/me/home">UAE, Lebanon, Saudi Arabia, Egypt, Qatar</option>
                                                    <option value="http://www.pwc.com/nl/home">Netherlands</option>
                                                    <option value="http://www.pwc.com/nordic/home">Denmark, Finland, Norway, Sweden</option>
                                                    <option value="http://www.pwc.com/na/home">USA</option>
                                                    <option value="http://www.pwc.com/ru-e/home">Russia </option>
                                                    <option value="http://www.pwc.com/es">Spain</option>
                                                    <option value="http://www.pwc.com/za/home">South Africa</option>
                                                    <option value="http://www.pwc.com/sea/home">Indonesia, Malaysia, Sing</option>
                                                </optgroup>
                                            </select>
                                        </div>

                                        <button type="submit" class="sr-only btn btn--primary" role="button">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- end Global nav  component -->
        </div>

        <div class="glb-slim-header__breadcrumb-wrapper glb-slim-header__breadcrumb-wrapper--mobiletoggle">


            <div class="glb-slim-header__breadcrumb">
                <div class="container">
                    <div class="row">
                        <!-- output footer version of breadcrumb -->
                        <nav id="slimHeaderBreadcrumbWrapper" class="col-xs-12 simple-breadcrumb-component ">

                            <button class="glb-slim-header__breadcrumb-reveal " data-toggle-breadcrumb-clip="true">
                                <span class="sr-only">Show full breadcrumb</span>
                                <span class="icon-el icon-el--reveal-bc">
                                    <span class="icon-el__normal"></span>
                                    <span class="icon-el__on"></span>
                                </span>
                            </button>
                            <div class="breadcrumb-component__scroll-pane">

                                @*<ul class="breadcrumb clearfix">
                                    @for (var i = 0; i < ViewBag.links.Count; i++)
                                    {
                                        if (i == ViewBag.links.Count - 1)
                                        {
                                            <li class="active"><a href="@ViewBag.urls[i]">@ViewBag.links[i]</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@ViewBag.urls[i]">@ViewBag.links[i]</a></li>
                                        }
                                    }
                                </ul>*@
                            </div>
                            <div class="breadcrumb-component__scroll-fade breadcrumb-component__scroll-fade--left"></div>
                            <div class="breadcrumb-component__scroll-fade breadcrumb-component__scroll-fade--right"></div>

                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

