﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")    
    
</head>
<body>
    <div class="page-container" role="main">
        <!-- Begin global header and navigation-->
        <section class="page-section--no-pad ">
            @RenderPage("_Header.cshtml")
        </section>
        <!-- End global header and navigation-->

        <!-- Usage note: Begin adding page sections here -->
        <!-- Usage note: first section added below -->
        <section class="page-section no-padding">
            @RenderBody()            
        </section>
        <!-- Usage note: END adding page sections here -->

        <!-- Begin footer -->
        <section class="page-section--no-pad page-section--col-black70">
            @RenderPage("_Footer.cshtml")
        </section>
        <!-- End footer -->

    </div>    

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/scripts")    
    @RenderSection("scripts", required: false)
</body>
</html>
